<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=" A community-driven ecosystem for Education, Career, & Growth. Training, Certifications, Internship, Jobs and community involvement. Industrial Revolution 4.0 is upon us and we believe that as a collective we all can inflict the change which can seem far-fetched. Directionless. Unreasonable. Hopeless. Together, we can be that hope.">
    <title>Spice Website Admin</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="https://1012672760.rsc.cdn77.org/Old%20images%20shift%20to%20CDN/2/foxmula_fav.png" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" >
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.semanticui.min.css" >
    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
    <!-- Bootstrap core CSS-->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Main styles -->
    <link href="https://1012672760.rsc.cdn77.org/CSSbyShantanu17April/admin.css" rel="stylesheet">
    <!-- Icon fonts-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Plugin styles -->
    <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Your custom styles -->
    <link href="https://1012672760.rsc.cdn77.org/CSSbyShantanu17April/custom.css" rel="stylesheet">

</head>

<body class="fixed-nav sticky-footer" id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-default fixed-top" id="mainNav">
    <a class="navbar-brand" href="/"><img src="/img/asahi-logo.png" data-retina="true" alt="" width="30%"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="/admin">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Dashboard</span>
                </a>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Users">
                <a class="nav-link" href="/admin/users">
                    <i class="fa fa-fw fa-users"></i>
                    <span class="nav-link-text">Users</span>
                </a>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Registrations">
                <a class="nav-link" href="/admin/registrations">
                    <i class="fa fa-fw fa-crosshairs"></i>
                    <span class="nav-link-text">Registrations</span>
                </a>
            </li>


            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Ambassadors">
                <a class="nav-link" href="/admin/ambassador">
                    <i class="fa fa-fw fa-bullhorn"></i>
                    <span class="nav-link-text">Ambassadors</span>
                </a>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="FxBerries">
                <a class="nav-link" href="/admin/fxberries">
                    <i class="fa  fa-fw fa-angle-double-up"></i>
                    <span class="nav-link-text">FxBerries</span>
                </a>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="FxBerries">
                <a class="nav-link" href="/admin/exam">
                    <i class="fa fa-fw fa-sticky-note"></i>
                    <span class="nav-link-text">Exam</span>
                </a>
            </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Items">
                    <a class="nav-link" href="/admin/items">
                        <i class="fa fa-fw fa-sticky-note"></i>
                        <span class="nav-link-text">Items</span>
                    </a>
                </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Offers">
                <a class="nav-link" href="/admin/offers">
                    <i class="fa fa-fw fa-percent"></i>
                    <span class="nav-link-text">Offers</span>
                </a>
            </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="FACE">
                    <a class="nav-link" href="/admin/face">
                        <i class="fa fa-fw fa-percent"></i>
                        <span class="nav-link-text">FACE</span>
                    </a>
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="FACE">
                    <a class="nav-link" href="/admin/test/view">
                        <i class="fa fa-fw fa-percent"></i>
                        <span class="nav-link-text">Test</span>
                    </a>
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="FACE">
                    <a class="nav-link" href="/admin/groups">
                        <i class="fa fa-fw fa-percent"></i>
                        <span class="nav-link-text">Groups</span>
                    </a>
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="FACE">
                    <a class="nav-link" href="/admin/batchlisting/intensive">
                        <i class="fa fa-fw fa-percent"></i>
                        <span class="nav-link-text">Batch Listing(Intensive)</span>
                    </a>
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="FACE">
                    <a class="nav-link" href="/admin/blended">
                        <i class="fa fa-fw fa-percent"></i>
                        <span class="nav-link-text">Blended</span>
                    </a>
                </li>


                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Ambassadors">
                        <a class="nav-link" href="/admin/ambassador">
                            <i class="fa fa-fw fa-bullhorn"></i>
                            <span class="nav-link-text">Ambassadors</span>
                        </a>
                    </li>

                    

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="FACE Admin">
                    <a class="nav-link" href="/face/admin">
                        <i class="fa fa-fw fa-star"></i>
                        <span class="nav-link-text">FACE Admin</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Add Students">
                    <a class="nav-link" href="/face/admin/rid/add">
                        <i class="fa fa-fw fa-users"></i>
                        <span class="nav-link-text">Add Students to FACE</span>
                    </a>
                </li>

                

            <!--<li class="nav-item" data-toggle="tooltip" data-placement="right" title="My profile">-->
                <!--<a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseProfile" data-parent="#exampleAccordion">-->
                    <!--<i class="fa fa-fw fa-wrench"></i>-->
                    <!--<span class="nav-link-text">My profile</span>-->
                <!--</a>-->
                <!--<ul class="sidenav-second-level collapse" id="collapseProfile">-->
                    <!--<li>-->
                        <!--<a href="user-profile.html">User profile</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="teacher-profile.html">Teacher profile</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->
        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0 mr-lg-2">
                    <div class="input-group">
                        <input class="form-control search-top" type="text" placeholder="Search for...">
                        <span class="input-group-btn">
                <button class="btn btn-primary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
                    </div>
                </form>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>