<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%=desc%>">
    <meta name="author" content="Ansonika">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/img//apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
    <!-- TITLE -->
    <title><%=title%></title>

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="https://d6fhaebhrj3za.cloudfront.net/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style1.css" rel="stylesheet">
    <link href="/css/vendors.css" rel="stylesheet">
    <link href="/css/all_icons.min.css" rel="stylesheet">

    <!-- Owl Theme Default CSS -->
    <link rel="stylesheet" href="https://d6fhaebhrj3za.cloudfront.net/css/owl.theme.default.min.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="https://d6fhaebhrj3za.cloudfront.net/css/owl.carousel.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="https://d6fhaebhrj3za.cloudfront.net/css/animate.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="/css/flaticon.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="https://d6fhaebhrj3za.cloudfront.net/css/nice-select.css">
    <!-- Imagelightbox CSS -->
    <link rel="stylesheet" href="https://d6fhaebhrj3za.cloudfront.net/css/imagelightbox.min.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="https://d6fhaebhrj3za.cloudfront.net/css/meanmenu.min.css">
    <!-- Date Picker CSS -->
    <link rel="stylesheet" href="https://d6fhaebhrj3za.cloudfront.net/css/date-picker.min.css">
    <!-- Date Picker CSS -->
    <link rel="stylesheet" href="https://d6fhaebhrj3za.cloudfront.net/css/odometer.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">

    <!-- SPECIFIC CSS -->
    <!-- <link href="css/skins/square/grey.css" rel="stylesheet"> -->

    <!-- YOUR CUSTOM CSS -->
    <link href="css/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/css/uikit.min.css" />

</head>

<body>

    <!-- Start Preloader Area -->
    <div class="preloader">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <!-- End Preloader Area -->

    <div id="page" class="theia-exception">

        <!-- Start Navbar Area -->
        <div class="asahi-nav">
            <div class="navbar-area fixed-top">
                <!-- Menu For Mobile Device -->
                <div class="mobile-nav">
                    <a href="/" class="logo">
                        <img src="/img/112cartLogo.png" alt="Asahi Logo">
                    </a>
                    <div class="scrollmenu">
                        <a href="#home">Home</a>
                        <a href="#news">News</a>
                        <a href="#contact">Contact</a>
                        <a href="#about">About</a> <a href="#home">Home</a>
                        <a href="#news">News</a>
                        <a href="#contact">Contact</a>
                        <a href="#about">About</a> <a href="#home">Home</a>
                        <a href="#news">News</a>
                        <a href="#contact">Contact</a>
                        <a href="#about">About</a> <a href="#home">Home</a>
                        <a href="#news">News</a>
                        <a href="#contact">Contact</a>
                        <a href="#about">About</a> <a href="#home">Home</a>
                        <a href="#news">News</a>
                        <a href="#contact">Contact</a>
                        <a href="#about">About</a> <a href="#home">Home</a>
                        <a href="#news">News</a>
                        <a href="#contact">Contact</a>
                        <a href="#about">About</a> <a href="#home">Home</a>
                        <a href="#news">News</a>
                        <a href="#contact">Contact</a>
                        <a href="#about">About</a> <a href="#home">Home</a>
                        <a href="#news">News</a>
                        <a href="#contact">Contact</a>
                        <a href="#about">About</a> <a href="#home">Home</a>
                        <a href="#news">News</a>
                        <a href="#contact">Contact</a>
                        <a href="#about">About</a>
                    </div>
                </div>

                <!-- Menu For Desktop Device -->
                <div class="main-nav asahi-nav-style-two asahi-nav-style-three">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <div class="container">
                            <a class="navbar-brand" href="/">
                                <img src="/img/112cartLogo.png" alt="112 Cart Logo">
                            </a>

                            <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a href="/" class="nav-link">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Offerings</a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="menu-standard.html" class="nav-link">Menu Standard</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="menu-classic.html" class="nav-link">Menu Classic</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="menu-grid.html" class="nav-link">Menu Grid</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/items" class="nav-link"> Items</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/cartPage" class="nav-link">Cart &nbsp;<span uk-icon="cart"></span></a>
                                    </li>
                                    <li class="nav-item" id="mobileLogin">
                                        <% if (currentUser != "") { %>
                                        <a href="#" data-toggle="modal" data-target="#myModal2" class="nav-link"> Hi!
                                            <%= currentUser.name %></a>
                                        <% } else { %>
                                        <a href="/users/login" class="nav-link"> Login &nbsp;<span
                                                uk-icon="user"></span></a>
                                        <% } %>
                                    </li>
                                </ul>
                                <div class="others-option">
                                    <% if (currentUser != "") { %>
                                    <span class="menu-btn contact-number">
                                        Hi! <%= currentUser.name %>
                                    </span>
                                    <a href="#" data-toggle="modal" data-target="#myModal2" class="menu-btn side-menu">
                                        My Account
                                        <i class="flaticon-menu"></i>
                                    </a>
                                    <% } else { %>
                                    <a href="/users/login" class="menu-btn side-menu">
                                        Login &nbsp;<span uk-icon="user"></span>
                                        <i class="flaticon-user"></i>
                                    </a>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="scrollmenu">
                    <a href="#home">Home</a>
                    <a href="#news">News</a>
                    <a href="#contact">Contact</a>
                    <a href="#about">About</a> <a href="#home">Home</a>
                    <a href="#news">News</a>
                    <a href="#contact">Contact</a>
                    <a href="#about">About</a> <a href="#home">Home</a>
                    <a href="#news">News</a>
                    <a href="#contact">Contact</a>
                    <a href="#about">About</a> <a href="#home">Home</a>
                    <a href="#news">News</a>
                    <a href="#contact">Contact</a>
                    <a href="#about">About</a> <a href="#home">Home</a>
                    <a href="#news">News</a>
                    <a href="#contact">Contact</a>
                    <a href="#about">About</a> <a href="#home">Home</a>
                    <a href="#news">News</a>
                    <a href="#contact">Contact</a>
                    <a href="#about">About</a> <a href="#home">Home</a>
                    <a href="#news">News</a>
                    <a href="#contact">Contact</a>
                    <a href="#about">About</a> <a href="#home">Home</a>
                    <a href="#news">News</a>
                    <a href="#contact">Contact</a>
                    <a href="#about">About</a> <a href="#home">Home</a>
                    <a href="#news">News</a>
                    <a href="#contact">Contact</a>
                    <a href="#about">About</a>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->

        <!-- Start Sidebar Modal -->
        <div class="sidebar-modal">
            <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">
                                    <i class="fa fa-times"></i>
                                </span>
                            </button>
                            <h2 class="modal-title" id="myModalLabel2">
                                <a href="/">
                                    <img src="/img/112cartLogo.png" alt="Logo">
                                </a>
                                <p style="text-align: center; font-style: italic; color: white; margin-top: 5px;">
                                    Service is salvation</p>
                            </h2>
                        </div>
                        <div class="modal-body">
                            <div class="sidebar-modal-widget">
                                <h3 class="title">My Account</h3>
                                <ul>
                                    <li>
                                        <a href="#"> Profile</a>
                                    </li>
                                    <li>
                                        <a href="/orders">My Orders</a>
                                    </li>
                                    <li>
                                        <a href="#">Become a Service Partner</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sidebar-modal-widget">
                                <h3 class="title">Connect With Us</h3>
                                <ul class="social-list">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="sidebar-modal-widget">
                                <h3 class="title">Contact Info</h3>
                                <ul class="contact-info">
                                    <li>
                                        <i class="fa fa-map-marker"></i>
                                        Address
                                        <span>44 Canal Center Plaza #200, Alexandria, VA 22314, USA</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope"></i>
                                        Email
                                        <span>asahi@gmail.com</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        Phone
                                        <span>+25462755, 265497466</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Sidebar Modal -->