<footer class="footer" role="contentinfo">

    <style>
        @media (min-width:600px) {
            #sideBtn {
                float: right;
            }
        }
    </style>

    <div class="tt-subscription">
        <div class="container">
            <article class="full-subscription" data-section-type="newsletterSubscription">
                <div class="newsletter-tittle">
                    <h5 class="footer-info-headings">
                        <span uk-icon="icon: happy; ratio: 1.5"></span>
                        &nbsp; Service is Salvation
                    </h5>
                    <span class="newletter-desc">...we're just a few clicks away.</span>
                </div>

                <a class="button button--primary" id="sideBtn" href="/contact-us">Get in touch</a>

            </article>
        </div>
    </div>

    <div class="tt-footer-link">
        <div class="container">
            <section class="footer-info">
                <div class="storeinfo-payment footer-info-col">
                    <article class="footer-info-col footer-info-col--small tt-storeInfo" data-section-type="storeInfo">
                        <img src="/img/112cartLogo.png" width="70%">
                    </article>
                </div>
                <article class="footer-info-col footer-info-col--small tt-storeInfo" data-section-type="storeInfo">
                    <h5 class="footer-info-heading">Contact</h5>
                    <ul class="footer-info-list tt-address" style="margin-top: 10px">
                        <li>
                            <address class="tt-contact-info">
                                <span class="material-icons">location_on</span>
                                <div class="tt-address">
                                    <b>COLLEGE OF PURITY (P) LTD.</b><br>
                                    Lower Ground Floor, Eylex Cinemas<br>
                                    Hinoo Main Road<br>
                                    Ranchi - 834002 (JH)
                                </div>
                            </address>
                        </li>
                        <li>
                            <div class="email-img">
                                <div class="content"><span class="material-icons">mail_outline</span><a
                                        href="mailto:support@112cart.com">support@112cart.com</a></div>
                            </div>
                        </li>
                        <li>
                            <div class="tt-contact-number">
                                <span class="material-icons">local_phone</span>
                                <div class="tt-call">
                                    <a href="tel:8797056054">+91-8797056054</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </article>

                <article class="footer-info-col footer-info-col--small tt-categories"
                    data-section-type="footer-categories">
                    <h5 class="footer-info-heading">Categories</h5>
                    <ul class="footer-info-list">
                        <% var categories = new Array() %>
                        <% categories.push({name: "Sanitation", linkTo: ""}) %>
                        <% categories.push({name: "Cleaning & Hygiene Solutions", linkTo: ""}) %>
                        <% categories.push({name: "Lab Solutions", linkTo: ""}) %>
                        <% categories.push({name: "Pathology & Histopathology", linkTo: ""}) %>
                        <% categories.push({name: "Entomology", linkTo: ""}) %>
                        <% categories.push({name: "Geography and Surveying", linkTo: ""}) %>
                        <% categories.push({name: "Visual Teaching", linkTo: ""}) %>
                        <% categories.push({name: "Electronics", linkTo: ""}) %>
                        <% categories.push({name: "Pharmacy", linkTo: ""}) %>
                        <% categories.push({name: "Books", linkTo: ""}) %>
                        <% categories.push({name: "Winter Uniforms", linkTo: ""}) %>

                        <% categories.forEach(category => { %>
                        <li>
                            <a href="/items"><%=category.name%></a>
                        </li>
                        <% }) %>
                    </ul>
                </article>

                <article class="footer-info-col footer-info-col--small tt-brands" data-section-type="footer-brands">
                    <h5 class="footer-info-heading">Navigate</h5>
                    <ul class="footer-info-list">
                        <li>
                            <a href="/orders">My Orders</a>
                        </li>
                        <li>
                            <a href="/users/update-profile">My Profile</a>
                        </li>
                        <li>
                            <a href="/conditions-of-use">Conditions of Use</a>
                        </li>
                        <li>
                            <a href="/privacy-policy">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="/cookies-notice">Cookies Notice</a>
                        </li>
                        <li>
                            <a href="/delivery-information">Delivery Information</a>
                        </li>
                        <li>
                            <a href="/about-us">About Us</a>
                        </li>
                        <li>
                            <a href="/contact-us">Contact Us</a>
                        </li>
                        <li>
                            <a href="/users/login">Sign In</a>
                        </li>
                    </ul>
                </article>

            </section>
        </div>
    </div>
    <div class="social-copyright footer-bottom">
        <div class="container">
            <article class="footer-info-col
                    footer-info-col--social
                    footer-info-col--right" data-section-type="footer-webPages">
                <h5 class="footer-info-heading">Connect With Us</h5>
                <ul class="socialLinks socialLinks--alt">
                    <li class="socialLinks-item">
                        <a href="https://www.facebook.com/112cart" title="Facebook" target="_blank" rel="noopener">
                            <span uk-icon="icon: facebook; ratio: 1.5"></span>
                        </a>
                    </li>
                    <li class="socialLinks-item">
                        <a href="https://www.instagram.com/112cart/" title="Instagram" target="_blank" rel="noopener">
                            <span uk-icon="icon: instagram; ratio: 1.5"></span>
                        </a>
                    </li>
                    <li class="socialLinks-item">
                        <a href="https://www.youtube.com/channel/UCQP3iehEOBEf2Rledh7uj4g" title="YouTube"
                            target="_blank" rel="noopener">
                            <span uk-icon="icon: youtube; ratio: 1.5"></span>
                        </a>
                    </li>
                </ul>
            </article>

            <div class="tt-copyright tt-left">
                <div class="footer-copyright">
                    <p class="powered-by">Powered by <a href="https://inversion.co.in" rel="nofollow"
                            style="color: #ffaa3d;">Inversion</a></p>
                </div>
                <div class="footer-copyright">
                    <p class="powered-by">&copy; 2020 112cart.com </p>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- Start ScrollToTop  -->
<a href="#" class="scrollToTop" title="Back to Top" style="display:none">
    <span class="material-icons">keyboard_arrow_up</span>
</a>
<!-- End ScrollToTop  -->

<script>

    $('.quickSearchResults').on('click', function () {
        // console.log('click-close');
        $('.quickSearchResults').fadeOut();
    });

    $(document).on('click', '.quickSearchResults .modal-close', function () {
        // console.log('click-close');
        $('.quickSearchResults').fadeOut();
    });

    $('.dropdown--quickSearch .form-input').on('click', function () {
        $('.quickSearchResults').fadeIn();
    });

</script>

<script>
    var myVar;

    function myFunction() {
        myVar = setTimeout(showPage, 100);
    }
    function showPage() {
        document.getElementById("ttloader").style.display = "none";
    }

</script>

<script>

    $('.quickSearchResults').on('click', function () {
        // console.log('click-close');
        $('.quickSearchResults').fadeOut();
    });

    $(document).on('click', '.quickSearchResults .modal-close', function () {
        // console.log('click-close');
        $('.quickSearchResults').fadeOut();
    });

    $('.dropdown--quickSearch .form-input').on('click', function () {
        $('.quickSearchResults').fadeIn();
    });

</script>

<script>
    var myVar;

    function myFunction() {
        myVar = setTimeout(showPage, 100);
    }
    function showPage() {
        document.getElementById("ttloader").style.display = "none";
    }

</script>

<script>
    $('.ui.radio.checkbox')
        .checkbox();
</script>


<script>window.__webpack_public_path__ = "https://cdn11.bigcommerce.com/s-xfjb6c0wb4/stencil/3b46b0e0-c505-0138-6438-0242ac11000f/e/ef218730-c512-0138-3ff3-0242ac110010/dist/";</script>
<script src="/js/newTheme.js"></script>
<script>
    // Exported in app.js
    window.stencilBootstrap("product", "{\"themeSettings\":{\"alert-backgroundColor\":\"#ffffff\",\"alert-color\":\"#333333\",\"alert-color-alt\":\"#ffffff\",\"applePay-button\":\"black\",\"banner-bg\":\"#ffffff\",\"blockquote-cite-font-color\":\"#999999\",\"blog_size\":\"870x1000\",\"body-bg\":\"#ffffff\",\"body-font\":\"Google_Roboto_400\",\"brand_size\":\"250x325\",\"brandpage_products_per_page\":10,\"button--default-backgroundColor\":\"#2A3746\",\"button--default-backgroundColorActive\":\"#FFAA3D\",\"button--default-backgroundColorHover\":\"#FFAA3D\",\"button--default-borderColor\":\"#e5e5e5\",\"button--default-borderColorActive\":\"#757575\",\"button--default-borderColorHover\":\"#999999\",\"button--default-color\":\"#ffffff\",\"button--default-colorActive\":\"#111111\",\"button--default-colorHover\":\"#111111\",\"button--disabled-backgroundColor\":\"#cccccc\",\"button--disabled-borderColor\":\"transparent\",\"button--disabled-color\":\"#ffffff\",\"button--icon-svg-color\":\"#666666\",\"button--icon-svg-hover-color\":\"#ffffff\",\"button--primary-backgroundColor\":\"#ffaa3d\",\"button--primary-backgroundColorActive\":\"#2a3746\",\"button--primary-backgroundColorHover\":\"#2a3746\",\"button--primary-color\":\"#111111\",\"button--primary-colorActive\":\"#ffffff\",\"button--primary-colorHover\":\"#ffffff\",\"card--alternate-backgroundColor\":\"#ffffff\",\"card--alternate-borderColor\":\"transparent\",\"card--alternate-color--hover\":\"#111111\",\"card-figcaption-button-background\":\"#ffaa3d\",\"card-figcaption-button-color\":\"#000000\",\"card-title-color\":\"#444444\",\"card-title-color-hover\":\"#111111\",\"carousel-arrow-bgColor\":\"#ffffff\",\"carousel-arrow-borderColor\":\"#e5e5e5\",\"carousel-arrow-color\":\"#777777\",\"carousel-bgColor\":\"transparent\",\"carousel-description-color\":\"#333333\",\"carousel-dot-bgColor\":\"#ffaa3d\",\"carousel-dot-color\":\"#ffffff\",\"carousel-dot-color-active\":\"#ffaa3d\",\"carousel-title-color\":\"#111111\",\"categorypage_products_per_page\":10,\"checkRadio-backgroundColor\":\"#ffffff\",\"checkRadio-borderColor\":\"#cccccc\",\"checkRadio-color\":\"#333333\",\"color-black\":\"#ffffff\",\"color-error\":\"#cc4749\",\"color-errorLight\":\"#ffdddd\",\"color-grey\":\"#999999\",\"color-greyDark\":\"#666666\",\"color-greyDarker\":\"#333333\",\"color-greyDarkest\":\"#000000\",\"color-greyLight\":\"#999999\",\"color-greyLighter\":\"#cccccc\",\"color-greyLightest\":\"#e5e5e5\",\"color-greyMedium\":\"#757575\",\"color-info\":\"#666666\",\"color-infoLight\":\"#dfdfdf\",\"color-primary\":\"#666666\",\"color-primaryDark\":\"#111111\",\"color-primaryDarker\":\"#000000\",\"color-primaryLight\":\"#aaaaaa\",\"color-secondary\":\"#ffffff\",\"color-secondaryDark\":\"#e5e5e5\",\"color-secondaryDarker\":\"#cccccc\",\"color-success\":\"#008a06\",\"color-successLight\":\"#d5ffd8\",\"color-textBase\":\"#666666\",\"color-textBase--active\":\"#111111\",\"color-textBase--hover\":\"#111111\",\"color-textHeading\":\"#111111\",\"color-textLink\":\"#666666\",\"color-textLink--active\":\"#111111\",\"color-textLink--hover\":\"#111111\",\"color-textSecondary\":\"#666666\",\"color-textSecondary--active\":\"#111111\",\"color-textSecondary--hover\":\"#111111\",\"color-warning\":\"#f1a500\",\"color-warningLight\":\"#fffdea\",\"color-white\":\"#ffffff\",\"color-whitesBase\":\"#e5e5e5\",\"color_badge_product_sale_badges\":\"#ffaa3d\",\"color_hover_product_sale_badges\":\"#FFAA3D\",\"color_text_product_sale_badges\":\"#000000\",\"container-border-global-color-base\":\"#e5e5e5\",\"container-fill-base\":\"#ffffff\",\"container-fill-dark\":\"#e5e5e5\",\"default_image_brand\":\"img/BrandDefault.gif\",\"default_image_gift_certificate\":\"img/GiftCertificate.png\",\"default_image_product\":\"img/ProductDefault.gif\",\"dropdown--quickSearch-backgroundColor\":\"#ffffff\",\"dropdown--wishList-backgroundColor\":\"#ffffff\",\"fontSize-h1\":22,\"fontSize-h2\":16,\"fontSize-h3\":16,\"fontSize-h4\":20,\"fontSize-h5\":18,\"fontSize-h6\":14,\"fontSize-root\":14,\"footer-TextColor\":\"666666\",\"footer-TextHoverColor\":\"111111\",\"footer-TitleColor\":\"#000000\",\"footer-backgroundColor\":\"#ffffff\",\"footer-borderColor\":\"#e5e5e5\",\"footer-bottombackgroundColor\":\"f5f5f5\",\"footer-bottomtextColor\":\"666666\",\"footer-bottomtexthoverColor\":\"111111\",\"footer-topbackgroundColor\":\"#2a3746\",\"footer-toptextColor\":\"#ffffff\",\"form-label-font-color\":\"#666666\",\"gallery_size\":\"300x300\",\"geotrust_ssl_common_name\":\"\",\"geotrust_ssl_seal_size\":\"M\",\"header--bottom-borderColor\":\"transparent\",\"header-backgroundColor\":\"#2a3746\",\"header-bottom-backgroundColor\":\"#2a3746\",\"header-responsivetextColor\":\"#ffffff\",\"header-textColor\":\"#ffffff\",\"headings-font\":\"Google_Roboto_400\",\"hide_blog_page_heading\":false,\"hide_breadcrumbs\":false,\"hide_category_page_heading\":false,\"hide_contact_us_page_heading\":false,\"hide_content_navigation\":false,\"hide_page_heading\":false,\"homepage_blog_posts_count\":8,\"homepage_featured_products_column_count\":4,\"homepage_featured_products_count\":8,\"homepage_new_products_column_count\":4,\"homepage_new_products_count\":8,\"homepage_show_blog\":true,\"homepage_show_carousel\":true,\"homepage_show_carousel_arrows\":true,\"homepage_show_subcategories\":true,\"homepage_stretch_carousel_images\":false,\"homepage_top_products_column_count\":4,\"homepage_top_products_count\":8,\"icon-color\":\"#666666\",\"icon-color-hover\":\"#000000\",\"icon-ratingEmpty\":\"#ffaa3d\",\"icon-ratingFull\":\"#ffaa3d\",\"input-bg-color\":\"#ffffff\",\"input-border-color\":\"#e5e5e5\",\"input-border-color-active\":\"#999999\",\"input-disabled-bg\":\"#ffffff\",\"input-font-color\":\"#666666\",\"label-backgroundColor\":\"#03c04a\",\"label-color\":\"#ffffff\",\"lazyload_mode\":\"lazyload+lqip\",\"loadingOverlay-backgroundColor\":\"#ffffff\",\"logo-position\":\"center\",\"logo_fontSize\":28,\"logo_size\":\"220x70\",\"navPages-color\":\"#333333\",\"navPages-color-hover\":\"#111111\",\"navPages-subMenu-backgroundColor\":\"#ffffff\",\"navPages-subMenu-separatorColor\":\"#eeeeee\",\"navUser-color\":\"#ffffff\",\"navUser-color-hover\":\"#ffaa3d\",\"navUser-dropdown-backgroundColor\":\"#ffffff\",\"navUser-dropdown-borderColor\":\"#e5e5e5\",\"navUser-indicator-backgroundColor\":\"#ffaa3d\",\"navigation_design\":\"simple\",\"optimizedCheckout-backgroundImage\":\"\",\"optimizedCheckout-backgroundImage-size\":\"1000x400\",\"optimizedCheckout-body-backgroundColor\":\"#ffffff\",\"optimizedCheckout-buttonPrimary-backgroundColor\":\"#333333\",\"optimizedCheckout-buttonPrimary-backgroundColorActive\":\"#000000\",\"optimizedCheckout-buttonPrimary-backgroundColorDisabled\":\"#cccccc\",\"optimizedCheckout-buttonPrimary-backgroundColorHover\":\"#666666\",\"optimizedCheckout-buttonPrimary-borderColor\":\"#333333\",\"optimizedCheckout-buttonPrimary-borderColorActive\":\"transparent\",\"optimizedCheckout-buttonPrimary-borderColorDisabled\":\"transparent\",\"optimizedCheckout-buttonPrimary-borderColorHover\":\"transparent\",\"optimizedCheckout-buttonPrimary-color\":\"#ffffff\",\"optimizedCheckout-buttonPrimary-colorActive\":\"#ffffff\",\"optimizedCheckout-buttonPrimary-colorDisabled\":\"#ffffff\",\"optimizedCheckout-buttonPrimary-colorHover\":\"#ffffff\",\"optimizedCheckout-buttonPrimary-font\":\"Google_Roboto_500\",\"optimizedCheckout-buttonSecondary-backgroundColor\":\"#ffffff\",\"optimizedCheckout-buttonSecondary-backgroundColorActive\":\"#e5e5e5\",\"optimizedCheckout-buttonSecondary-backgroundColorHover\":\"#f5f5f5\",\"optimizedCheckout-buttonSecondary-borderColor\":\"#cccccc\",\"optimizedCheckout-buttonSecondary-borderColorActive\":\"#757575\",\"optimizedCheckout-buttonSecondary-borderColorHover\":\"#999999\",\"optimizedCheckout-buttonSecondary-color\":\"#333333\",\"optimizedCheckout-buttonSecondary-colorActive\":\"#000000\",\"optimizedCheckout-buttonSecondary-colorHover\":\"#333333\",\"optimizedCheckout-buttonSecondary-font\":\"Google_Roboto_500\",\"optimizedCheckout-colorFocus\":\"#4496f6\",\"optimizedCheckout-contentPrimary-color\":\"#333333\",\"optimizedCheckout-contentPrimary-font\":\"Google_Roboto_500\",\"optimizedCheckout-contentSecondary-color\":\"#757575\",\"optimizedCheckout-contentSecondary-font\":\"Google_Roboto_500\",\"optimizedCheckout-discountBanner-backgroundColor\":\"#e5e5e5\",\"optimizedCheckout-discountBanner-iconColor\":\"#333333\",\"optimizedCheckout-discountBanner-textColor\":\"#333333\",\"optimizedCheckout-form-textColor\":\"#666666\",\"optimizedCheckout-formChecklist-backgroundColor\":\"#ffffff\",\"optimizedCheckout-formChecklist-backgroundColorSelected\":\"#f5f5f5\",\"optimizedCheckout-formChecklist-borderColor\":\"#cccccc\",\"optimizedCheckout-formChecklist-color\":\"#333333\",\"optimizedCheckout-formField-backgroundColor\":\"#ffffff\",\"optimizedCheckout-formField-borderColor\":\"#cccccc\",\"optimizedCheckout-formField-errorColor\":\"#d14343\",\"optimizedCheckout-formField-inputControlColor\":\"#476bef\",\"optimizedCheckout-formField-placeholderColor\":\"#999999\",\"optimizedCheckout-formField-shadowColor\":\"transparent\",\"optimizedCheckout-formField-textColor\":\"#333333\",\"optimizedCheckout-header-backgroundColor\":\"#f5f5f5\",\"optimizedCheckout-header-borderColor\":\"#dddddd\",\"optimizedCheckout-header-textColor\":\"#333333\",\"optimizedCheckout-headingPrimary-color\":\"#333333\",\"optimizedCheckout-headingPrimary-font\":\"Google_Roboto_700\",\"optimizedCheckout-headingSecondary-color\":\"#333333\",\"optimizedCheckout-headingSecondary-font\":\"Google_Roboto_700\",\"optimizedCheckout-link-color\":\"#476bef\",\"optimizedCheckout-link-font\":\"Google_Roboto_500\",\"optimizedCheckout-link-hoverColor\":\"#002fe1\",\"optimizedCheckout-loadingToaster-backgroundColor\":\"#333333\",\"optimizedCheckout-loadingToaster-textColor\":\"#ffffff\",\"optimizedCheckout-logo\":\"\",\"optimizedCheckout-logo-position\":\"left\",\"optimizedCheckout-logo-size\":\"250x100\",\"optimizedCheckout-orderSummary-backgroundColor\":\"#ffffff\",\"optimizedCheckout-orderSummary-borderColor\":\"#dddddd\",\"optimizedCheckout-show-backgroundImage\":false,\"optimizedCheckout-show-logo\":\"none\",\"optimizedCheckout-step-backgroundColor\":\"#757575\",\"optimizedCheckout-step-borderColor\":\"#dddddd\",\"optimizedCheckout-step-textColor\":\"#ffffff\",\"overlay-backgroundColor\":\"#333333\",\"pace-progress-backgroundColor\":\"#999999\",\"paymentbuttons-paypal-color\":\"gold\",\"paymentbuttons-paypal-fundingicons\":false,\"paymentbuttons-paypal-label\":\"checkout\",\"paymentbuttons-paypal-layout\":\"vertical\",\"paymentbuttons-paypal-shape\":\"pill\",\"paymentbuttons-paypal-size\":\"responsive\",\"paymentbuttons-paypal-tagline\":false,\"pdp-custom-fields-tab-label\":\"Additional Information\",\"pdp-non-sale-price-label\":\"Was:\",\"pdp-price-label\":\"\",\"pdp-retail-price-label\":\"MSRP:\",\"pdp-sale-price-label\":\"Now:\",\"price_ranges\":true,\"product_list_display_mode\":\"grid\",\"product_sale_badges\":\"topleft\",\"product_size\":\"570x684\",\"productgallery_size\":\"250x325\",\"productpage_related_products_count\":10,\"productpage_reviews_count\":9,\"productpage_similar_by_views_count\":10,\"productpage_videos_count\":8,\"productthumb_size\":\"100x110\",\"productview_thumb_size\":\"100x110\",\"restrict_to_login\":false,\"searchpage_products_per_page\":10,\"select-arrow-color\":\"#111111\",\"select-bg-color\":\"#f5f5f5\",\"shop_by_brand_show_footer\":true,\"shop_by_price_visibility\":true,\"show_accept_amazonpay\":false,\"show_accept_amex\":true,\"show_accept_discover\":true,\"show_accept_googlepay\":false,\"show_accept_mastercard\":true,\"show_accept_paypal\":true,\"show_accept_visa\":false,\"show_copyright_footer\":true,\"show_custom_fields_tabs\":false,\"show_powered_by\":true,\"show_product_details_tabs\":true,\"show_product_dimensions\":false,\"show_product_quantity_box\":true,\"show_product_quick_view\":true,\"show_product_reviews_tabs\":true,\"show_product_weight\":true,\"social_icon_placement_bottom\":\"bottom_right\",\"social_icon_placement_top\":true,\"spinner-borderColor-dark\":\"#999999\",\"spinner-borderColor-light\":\"#ffffff\",\"storeName-color\":\"#ffffff\",\"supported_card_type_icons\":[\"american_express\",\"diners\",\"discover\",\"mastercard\",\"visa\"],\"supported_payment_methods\":[\"card\",\"paypal\"],\"swatch_option_size\":\"20x20\",\"thumb_size\":\"100x110\",\"zoom_size\":\"1280x1280\"},\"genericError\":\"Oops! Something went wrong.\",\"maintenanceMode\":{\"header\":null,\"message\":null,\"notice\":null,\"password\":null,\"securePath\":\"https://demo-store9.mybigcommerce.com\"},\"urls\":{\"account\":{\"add_address\":\"/account.php?action=add_shipping_address\",\"addresses\":\"/account.php?action=address_book\",\"details\":\"/account.php?action=account_details\",\"inbox\":\"/account.php?action=inbox\",\"index\":\"/account.php\",\"orders\":{\"all\":\"/account.php?action=order_status\",\"completed\":\"/account.php?action=view_orders\",\"save_new_return\":\"/account.php?action=save_new_return\"},\"recent_items\":\"/account.php?action=recent_items\",\"returns\":\"/account.php?action=view_returns\",\"send_message\":\"/account.php?action=send_message\",\"update_action\":\"/account.php?action=update_account\",\"wishlists\":{\"add\":\"/wishlist.php?action=addwishlist\",\"all\":\"/wishlist.php\",\"delete\":\"/wishlist.php?action=deletewishlist\",\"edit\":\"/wishlist.php?action=editwishlist\"}},\"auth\":{\"check_login\":\"/login.php?action=check_login\",\"create_account\":\"/login.php?action=create_account\",\"forgot_password\":\"/login.php?action=reset_password\",\"login\":\"/login.php\",\"logout\":\"/login.php?action=logout\",\"save_new_account\":\"/login.php?action=save_new_account\",\"save_new_password\":\"/login.php?action=save_new_password\",\"send_password_email\":\"/login.php?action=send_password_email\"},\"brands\":\"https://demo-store9.mybigcommerce.com/brands/\",\"cart\":\"/cart.php\",\"checkout\":{\"multiple_address\":\"/checkout.php?action=multiple\",\"single_address\":\"/checkout\"},\"compare\":\"/compare\",\"contact_us_submit\":\"/pages.php?action=sendContactForm\",\"gift_certificate\":{\"balance\":\"/giftcertificates.php?action=balance\",\"purchase\":\"/giftcertificates.php\",\"redeem\":\"/giftcertificates.php?action=redeem\"},\"home\":\"https://demo-store9.mybigcommerce.com/\",\"product\":{\"post_review\":\"/postreview.php\"},\"rss\":{\"products\":[]},\"search\":\"/search.php\",\"sitemap\":\"/sitemap.php\",\"subscribe\":{\"action\":\"/subscribe.php\"}},\"secureBaseUrl\":\"https://demo-store9.mybigcommerce.com\",\"cartId\":\"5fc5e098-5628-4351-869a-fa8b1b5d7126\",\"template\":\"pages/product\",\"reviewRating\":\"The 'Rating' field cannot be blank.\",\"reviewSubject\":\"The 'Review Subject' field cannot be blank.\",\"reviewComment\":\"The 'Comments' field cannot be blank.\",\"reviewEmail\":\"Please use a valid email address, such as user@example.com.\"}").load();
</script>

<script type="text/javascript"
    src="https://cdn11.bigcommerce.com/shared/js/csrf-protection-header-14d7a517a359072d0dc53537c6a3e7070e54b6c0.js"></script>

<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit-icons.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5fb3c26b1535bf152a56d0a2/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>

</body>

</html>