<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
	<title>Peter Fashion</title>
	<link rel="dns-prefetch preconnect" href="https://cdn11.bigcommerce.com/s-xfjb6c0wb4" crossorigin>
	<link rel="dns-prefetch preconnect" href="https://fonts.googleapis.com" crossorigin>
	<link rel="dns-prefetch preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel='canonical' href='https://demo-store9.mybigcommerce.com/' />

	<link href="https://cdn11.bigcommerce.com/r-ddd8051de0aea5d72a2236ec7e8beccdcbc02929/img/bc_favicon.ico"
		rel="shortcut icon">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<script>
		document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
	</script>
	<script>
		window.lazySizesConfig = window.lazySizesConfig || {};
		window.lazySizesConfig.loadMode = 1;
	</script>
	<script async
		src="https://cdn11.bigcommerce.com/s-xfjb6c0wb4/stencil/3b46b0e0-c505-0138-6438-0242ac11000f/e/ef218730-c512-0138-3ff3-0242ac110010/dist/theme-bundle.head_async.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
	<link data-stencil-stylesheet href="/css/new.css" rel="stylesheet">


	<script type="text/javascript">
		var BCData = { "csrf_token": "cd36370d682412efd9965863c07da173256f12a6c66e831a10b0d06d5188305d" };
	</script>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<!--<script src="https://cdn11.bigcommerce.com/s-xfjb6c0wb4/stencil/3b46b0e0-c505-0138-6438-0242ac11000f/e/ef218730-c512-0138-3ff3-0242ac110010/js/theme/custom/global.js"></script>-->
</head>


<body onLoad="myFunction()" class="default">


	<div id="ttloader"></div>

	<svg data-src="https://cdn11.bigcommerce.com/s-xfjb6c0wb4/stencil/3b46b0e0-c505-0138-6438-0242ac11000f/e/ef218730-c512-0138-3ff3-0242ac110010/img/icon-sprite.svg"
		class="icons-svg-sprite"></svg>
	<header class="header" role="banner">
		<div class="header-center">
			<div class="container">
				<h1 class="header-logo header-logo--center">
					<a href="/">
						<span class="header-logo-image-container">
							<img class="header-logo-image" src="/img/112cartLogo.png" width="175px" alt="PayeeShop" title="PayeeShop">
						</span>
					</a>
				</h1>

				<div class="navUser-item ttquicksearch col-6">
					<div class="dropdown dropdown--quickSearch desktop" id="quickSearch" aria-hidden="true"
						tabindex="-1" data-prevent-quick-search-close>
						<a href="#" class="quickSearch-mobileToggle" title="Submit Search">
							<span class="mobileMenu-toggleIcon"></span>
						</a>
						<form class="form" action="/search" method="POST">
							<fieldset class="form-fieldset">
								<div class="form-field">
									<label class="is-srOnly" for="search_query">Search</label>
									<input class="form-input" name="test" autocomplete="off" placeholder="Search...">
									<!-- <input class="button button--primary form-prefixPostfix-button--postfix" type="submit" value=""><svg class="header-icon search-icon"><use xlink:href="#icon-search"></use></svg> -->
								</div>
							</fieldset>
							<div class="search-icon submit">

								<button title="Submit Search"
									class="button button--primary form-prefixPostfix-button--postfix" type="submit"
									value="Search">
									<span class="material-icons">search</span>
									Search
								</button>

							</div>
						</form>
						<section class="quickSearchResults" data-bind="html: results"></section>
					</div>
				</div>

				<div class="tt-phone-number">
					<div class="contact-icon">
						<span class="material-icons">phone_in_talk</span>
					</div>
					<div class="content">
						<div class="contact-title">whatsapp:</div>
						<a href="tel:09277077088">9876543210</a>
					</div>
				</div>
			</div>
		</div>
		<div class="full-header header-bottom">
			<div class="container">
				<a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
					<span class="mobileMenu-toggleIcon">Toggle menu</span>
				</a>

				<div class="tt-header-content">
					<div class="tt-menu navPages-container col-3" id="menu" data-menu>
						<nav class="navPages">
							<div class="ttcat-title">
								<!-- InnerSearch -->
								<span class="material-icons">menu</span>
								<span class="cat-title">shop by categories</span>
							</div>
							<ul class="navPages-list cat-Menu-toggle navPages-list-simple">
								<li class="navPages-item navPages-item-page">
									<a class="navPages-action" href="https://demo-store9.mybigcommerce.com/">Home</a>
								</li>
								<li class="navPages-item">
									<a class="navPages-action" href="https://demo-store9.mybigcommerce.com/shop-all/">
										<span class="material-icons tt-left-arrow">arrow_forward</span>
										Shop All
									</a>
								</li>
								<li class="navPages-item">
									<a class="navPages-action has-subMenu"
										href="https://demo-store9.mybigcommerce.com/laptop/">
										<span class="material-icons tt-left-arrow">arrow_forward</span>
										Laptop
										<span class="material-icons tt-right-arrow"
											data-collapsible="navPages-18">keyboard_arrow_down</span>
									</a>
									<div class="navPage-subMenu" id="navPages-18" aria-hidden="true" tabindex="-1">
										<ul class="navPage-subMenu-list grid-3">
											<li class="navPage-subMenu-item">
												<a class="navPage-subMenu-action navPages-action has-subMenu"
													href="https://demo-store9.mybigcommerce.com/laptop/camcorders/">
													Camcorders <span class="material-icons tt-right-arrow"
														data-collapsible="navPages-25">keyboard_arrow_down</span>
												</a>
												<ul class="navPage-childList" id="navPages-25">

													<li class="navPage-childList-item">
														<a class="navPage-childList-action navPages-action"
															href="https://demo-store9.mybigcommerce.com/laptop/camcorders/manuals/">Manuals</a>
													</li>

													<li class="navPage-childList-item">
														<a class="navPage-childList-action navPages-action"
															href="https://demo-store9.mybigcommerce.com/laptop/camcorders/mp3-players/">MP3
															Players</a>
													</li>

													<li class="navPage-childList-item">
														<a class="navPage-childList-action navPages-action"
															href="https://demo-store9.mybigcommerce.com/laptop/camcorders/portable-audio/">Portable
															Audio</a>
													</li>

													<li class="navPage-childList-item">
														<a class="navPage-childList-action navPages-action"
															href="https://demo-store9.mybigcommerce.com/laptop/camcorders/selling-center/">Selling
															Center</a>
													</li>

													<li class="navPage-childList-item">
														<a class="navPage-childList-action navPages-action"
															href="https://demo-store9.mybigcommerce.com/laptop/camcorders/cameras/">Cameras</a>
													</li>

													<li class="navPage-childList-item">
														<a class="navPage-childList-action navPages-action"
															href="https://demo-store9.mybigcommerce.com/laptop/camcorders/gadgets/">Gadgets</a>
													</li>

													<li class="navPage-childList-item">
														<a class="navPage-childList-action navPages-action"
															href="https://demo-store9.mybigcommerce.com/laptop/camcorders/lighting/">Lighting</a>
													</li>
												</ul>
											</li>
											<li class="navPage-subMenu-item">
												<a class="navPage-subMenu-action navPages-action has-subMenu"
													href="https://demo-store9.mybigcommerce.com/laptop/television/">
													Television <span class="material-icons tt-right-arrow"
														data-collapsible="navPages-24">keyboard_arrow_down</span>
												</a>
												<ul class="navPage-childList" id="navPages-24">

													<li class="navPage-childList-item">
														<a class="navPage-childList-action navPages-action"
															href="https://demo-store9.mybigcommerce.com/laptop/television/car-video/">Car
															Video</a>
													</li>

													<li class="navPage-childList-item">
														<a class="navPage-childList-action navPages-action"
															href="https://demo-store9.mybigcommerce.com/laptop/television/ipads/">ipads</a>
													</li>

													<li class="navPage-childList-item">
														<a class="navPage-childList-action navPages-action"
															href="https://demo-store9.mybigcommerce.com/laptop/television/television/">Television</a>
													</li>

													<li class="navPage-childList-item">
														<a class="navPage-childList-action navPages-action"
															href="https://demo-store9.mybigcommerce.com/laptop/television/video-games/">Video
															Games</a>
													</li>

													<li class="navPage-childList-item">
														<a class="navPage-childList-action navPages-action"
															href="https://demo-store9.mybigcommerce.com/bath/women/casual/">Casual</a>
													</li>

													<li class="navPage-childList-item">
														<a class="navPage-childList-action navPages-action"
															href="https://demo-store9.mybigcommerce.com/laptop/television/dvd/">DVD</a>
													</li>

													<li class="navPage-childList-item">
														<a class="navPage-childList-action navPages-action"
															href="https://demo-store9.mybigcommerce.com/laptop/television/ipods/">iPods</a>
													</li>
												</ul>
											</li>
											<li class="navPage-subMenu-item">
												<a class="navPage-subMenu-action navPages-action has-subMenu"
													href="https://demo-store9.mybigcommerce.com/laptop/headphones/">
													Headphones <span class="material-icons tt-right-arrow"
														data-collapsible="navPages-28">keyboard_arrow_down</span>
												</a>
												<ul class="navPage-childList" id="navPages-28">

													<li class="navPage-childList-item">
														<a class="navPage-childList-action navPages-action"
															href="https://demo-store9.mybigcommerce.com/laptop/headphones/dvd/">DVD</a>
													</li>

													<li class="navPage-childList-item">
														<a class="navPage-childList-action navPages-action"
															href="https://demo-store9.mybigcommerce.com/laptop/headphones/gadegets/">Gadegets</a>
													</li>

													<li class="navPage-childList-item">
														<a class="navPage-childList-action navPages-action"
															href="https://demo-store9.mybigcommerce.com/laptop/headphones/mac-01/">Mac-01</a>
													</li>

													<li class="navPage-childList-item">
														<a class="navPage-childList-action navPages-action"
															href="https://demo-store9.mybigcommerce.com/laptop/headphones/mac-02/">Mac-02</a>
													</li>

													<li class="navPage-childList-item">
														<a class="navPage-childList-action navPages-action"
															href="https://demo-store9.mybigcommerce.com/laptop/headphones/mouse/">Mouse</a>
													</li>

													<li class="navPage-childList-item">
														<a class="navPage-childList-action navPages-action"
															href="https://demo-store9.mybigcommerce.com/laptop/headphones/price-drop/">Price
															Drop</a>
													</li>

													<li class="navPage-childList-item">
														<a class="navPage-childList-action navPages-action"
															href="https://demo-store9.mybigcommerce.com/laptop/headphones/mac-03/">Mac-03</a>
													</li>
												</ul>
											</li>
										</ul>
										<div class="banners">
											<a class="subcat-img" href="https://demo-store9.mybigcommerce.com/laptop/">
												<img class="lazyload" data-sizes="auto" alt=""
													src="https://cdn11.bigcommerce.com/s-xfjb6c0wb4/stencil/3b46b0e0-c505-0138-6438-0242ac11000f/e/ef218730-c512-0138-3ff3-0242ac110010/img/loading.svg"
													data-src="https://cdn11.bigcommerce.com/s-xfjb6c0wb4/images/stencil/original/v/category-img-01__58748.original.jpg">
											</a>
										</div>
									</div>
								</li>
								<li class="navPages-item">
									<a class="navPages-action" href="https://demo-store9.mybigcommerce.com/computers/">
										<span class="material-icons tt-left-arrow">arrow_forward</span>
										Computers
									</a>
								</li>
								<li class="navPages-item">
									<a class="navPages-action has-subMenu"
										href="https://demo-store9.mybigcommerce.com/speakers/">
										<span class="material-icons tt-left-arrow">arrow_forward</span>
										Speakers
										<span class="material-icons tt-right-arrow"
											data-collapsible="navPages-19">keyboard_arrow_down</span>
									</a>
									<div class="navPage-subMenu" id="navPages-19" aria-hidden="true" tabindex="-1">
										<ul class="navPage-subMenu-list grid-3">
											<li class="navPage-subMenu-item">
												<a class="navPage-subMenu-action navPages-action"
													href="https://demo-store9.mybigcommerce.com/computers/boerboel/">Boerboel</a>
											</li>
											<li class="navPage-subMenu-item">
												<a class="navPage-subMenu-action navPages-action"
													href="https://demo-store9.mybigcommerce.com/speakers/home-audio/">Home
													Audio</a>
											</li>
											<li class="navPage-subMenu-item">
												<a class="navPage-subMenu-action navPages-action"
													href="https://demo-store9.mybigcommerce.com/speakers/home-speakers/">Home
													Speakers</a>
											</li>
										</ul>
										<div class="banners">
											<a class="subcat-img"
												href="https://demo-store9.mybigcommerce.com/speakers/">
												<img class="lazyload" data-sizes="auto" alt=""
													src="https://cdn11.bigcommerce.com/s-xfjb6c0wb4/stencil/3b46b0e0-c505-0138-6438-0242ac11000f/e/ef218730-c512-0138-3ff3-0242ac110010/img/loading.svg"
													data-src="https://cdn11.bigcommerce.com/s-xfjb6c0wb4/images/stencil/original/e/category-img-02__12056.original.jpg">
											</a>
										</div>
									</div>
								</li>
								<li class="navPages-item">
									<a class="navPages-action"
										href="https://demo-store9.mybigcommerce.com/computers/boerboel/beagle/">
										<span class="material-icons tt-left-arrow">arrow_forward</span>
										Beagle
									</a>
								</li>
								<li class="navPages-item">
									<a class="navPages-action"
										href="https://demo-store9.mybigcommerce.com/computers/boerboel/basenji/">
										<span class="material-icons tt-left-arrow">arrow_forward</span>
										Basenji
									</a>
								</li>
								<li class="navPages-item">
									<a class="navPages-action"
										href="https://demo-store9.mybigcommerce.com/computers/barbet/">
										<span class="material-icons tt-left-arrow">arrow_forward</span>
										Barbet
									</a>
								</li>
								<li class="navPages-item">
									<a class="navPages-action" href="https://demo-store9.mybigcommerce.com/tablets/">
										<span class="material-icons tt-left-arrow">arrow_forward</span>
										Tablets
									</a>
								</li>
								<li class="navPages-item">
									<a class="navPages-action" href="https://demo-store9.mybigcommerce.com/ipods/">
										<span class="material-icons tt-left-arrow">arrow_forward</span>
										Ipods
									</a>
								</li>
								<li class="navPages-item">
									<a class="navPages-action"
										href="https://demo-store9.mybigcommerce.com/laptop-stand/">
										<span class="material-icons tt-left-arrow">arrow_forward</span>
										Laptop Stand
									</a>
								</li>
								<li class="navPages-item">
									<a class="navPages-action" href="https://demo-store9.mybigcommerce.com/gadgets/">
										<span class="material-icons tt-left-arrow">arrow_forward</span>
										Gadgets
									</a>
								</li>
								<li class="navPages-item">
									<a class="navPages-action"
										href="https://demo-store9.mybigcommerce.com/cell-phones/">
										<span class="material-icons tt-left-arrow">arrow_forward</span>
										Cell Phones
									</a>
								</li>
								<li class="navPages-item">
									<a class="navPages-action" href="https://demo-store9.mybigcommerce.com/mouse/">
										<span class="material-icons tt-left-arrow">arrow_forward</span>
										Mouse
									</a>
								</li>
								<li class="navPages-item">
									<a class="navPages-action"
										href="https://demo-store9.mybigcommerce.com/computers/video-games/">
										<span class="material-icons tt-left-arrow">arrow_forward</span>
										Video Games
									</a>
								</li>
								<li class="navPages-item">
									<a class="navPages-action" href="https://demo-store9.mybigcommerce.com/cameras/">
										<span class="material-icons tt-left-arrow">arrow_forward</span>
										Cameras
									</a>
								</li>
								<li class="navPages-item navPages-item-page">
									<a class="navPages-action"
										href="https://demo-store9.mybigcommerce.com/specials/"><span
											class="material-icons tt-left-arrow">arrow_forward</span>Specials</a>
								</li>
								<li class="navPages-item navPages-item-page">
									<a class="navPages-action"
										href="https://demo-store9.mybigcommerce.com/about-as/"><span
											class="material-icons tt-left-arrow">arrow_forward</span>About As</a>
								</li>
								<li class="navPages-item navPages-item-page">
									<a class="navPages-action"
										href="https://demo-store9.mybigcommerce.com/contact-us/"><span
											class="material-icons tt-left-arrow">arrow_forward</span>Contact Us</a>
								</li>
								<li class="navPages-item navPages-item-page">
									<a class="navPages-action"
										href="https://demo-store9.mybigcommerce.com/affiliate/"><span
											class="material-icons tt-left-arrow">arrow_forward</span>Affiliate</a>
								</li>
								<li class="navPages-item navPages-item-page">
									<a class="navPages-action" href="https://demo-store9.mybigcommerce.com/blog/"><span
											class="material-icons tt-left-arrow">arrow_forward</span>Our Blogs</a>
								</li>
								<li class="navPages-item navPages-item-page">
									<a class="navPages-action"
										href="https://demo-store9.mybigcommerce.com/gift-certificates/"><span
											class="material-icons tt-left-arrow">arrow_forward</span> Gift
										Certificates</a>
								</li>
								<li class="navPages-item navPages-item-page">
									<a class="navPages-action"
										href="https://demo-store9.mybigcommerce.com/shipping-returns/"><span
											class="material-icons tt-left-arrow">arrow_forward</span>Shipping &amp;
										Returns</a>
								</li>
								<li class="navPages-item navPages-item-page">
									<a class="navPages-action"
										href="https://demo-store9.mybigcommerce.com/delivery-information/"><span
											class="material-icons tt-left-arrow">arrow_forward</span>Delivery
										Information</a>
								</li>
								<li class="navPages-item navPages-item-page">
									<a class="navPages-action"
										href="https://demo-store9.mybigcommerce.com/terms-conditions/"><span
											class="material-icons tt-left-arrow">arrow_forward</span>Terms &amp;
										Conditions</a>
								</li>
							</ul>

							<!--Search button was here now at header html page-->
						</nav>
					</div>

					<div class="tt-menu-link col-8" id="menu-link" data-menu>
						<div class="navPages-item-page">
							<a class="link-action" href="https://demo-store9.mybigcommerce.com/specials/">Specials</a>
						</div>
						<div class="navPages-item-page">
							<a class="link-action" href="https://demo-store9.mybigcommerce.com/about-as/">About As</a>
						</div>
						<div class="navPages-item-page">
							<a class="link-action" href="https://demo-store9.mybigcommerce.com/contact-us/">Contact
								Us</a>
						</div>
						<div class="navPages-item-page">
							<a class="link-action" href="https://demo-store9.mybigcommerce.com/affiliate/">Affiliate</a>
						</div>
						<div class="navPages-item-page">
							<a class="link-action" href="https://demo-store9.mybigcommerce.com/blog/">Our Blogs</a>
						</div>
						<div class="navPages-item-page">
							<a class="link-action" href="https://demo-store9.mybigcommerce.com/gift-certificates/"> Gift
								Certificates</a>
						</div>
						<div class="navPages-item-page">
							<a class="link-action"
								href="https://demo-store9.mybigcommerce.com/shipping-returns/">Shipping &amp;
								Returns</a>
						</div>
						<div class="navPages-item-page">
							<a class="link-action"
								href="https://demo-store9.mybigcommerce.com/delivery-information/">Delivery
								Information</a>
						</div>
						<div class="navPages-item-page">
							<a class="link-action" href="https://demo-store9.mybigcommerce.com/terms-conditions/">Terms
								&amp; Conditions</a>
						</div>
					</div>

					<nav class="navUser">
						<ul class="navUser-section navUser-section--alt">
							<li class="navUser-item btn-compare">
								<a class="navUser-action navUser-item--compare" href="/compare" data-compare-nav>
									<span class="material-icons">sync</span><span
										class="countPill countPill--positive countPill--alt"></span>
									<span class="wishlist-text">Compare</span>
								</a>
							</li>
							<li class="navUser-item navUser-item--wishlist">
								<a data-wishlist class="tt-wishlist" href="/wishlist.php" title="Wish Lists">
									<span class="material-icons">favorite_border</span>
									<span class="compare-text"> Wishlist</span>
								</a>
							</li>
							<li class="tt-user-info">
								<div class="account-link-title" title="My Account">
									<span class="material-icons">perm_identity</span>
								</div>
								<ul class="dropdown-menu dropdown-menu-right account-link-toggle">
									<li class="navUser-item navUser-item--account">
										<a class="navUser-action" href="/users/login">
											<span class="material-icons">lock_open</span>
											Sign in
										</a>
										<a class="navUser-action" href="/login.php?action=create_account">
											<span class="material-icons">person</span>
											Register
										</a>
									</li>

								</ul>
							</li>
							<li class="navUser-item navUser-item--cart">
								<a class="navUser-action" title="Cart" href="/cartPage">
									<span class="material-icons">shopping_cart</span>
									<span class="navUser-item-cartLabel">Cart</span>
									<span class="countPill"><%=cartCount%></span>
								</a>

								<div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content
									aria-hidden="true"></div>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>