<!doctype html>
<html lang="zxx">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
        <!-- Bootstrap CSS --> 
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!-- Owl Theme Default CSS --> 
        <link rel="stylesheet" href="/css/owl.theme.default.min.css">
        <!-- Owl Carousel CSS --> 
        <link rel="stylesheet" href="/css/owl.carousel.min.css">
        <!-- Animate CSS --> 
        <link rel="stylesheet" href="/css/animate.css">
        <!-- Flaticon CSS --> 
		<link rel="stylesheet" href="/css/flaticon.css">
        <!-- Font Awesome CSS --> 
		<link rel="stylesheet" href="/css/font-awesome.min.css">
		<!-- Nice Select CSS --> 
		<link rel="stylesheet" href="/css/nice-select.css">
        <!-- Imagelightbox CSS --> 
		<link rel="stylesheet" href="/css/imagelightbox.min.css">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet" href="/css/meanmenu.css">
        <!-- Date Picker CSS -->
        <link rel="stylesheet" href="/css/date-picker.css">
        <!-- Date Picker CSS -->
        <link rel="stylesheet" href="/css/odometer.css">
        <!-- Style CSS -->
        <link rel="stylesheet" href="/css/style.css">
        <!-- Responsive CSS -->
		<link rel="stylesheet" href="/css/responsive.css">
		
		<!-- Favicon -->
        <link rel="icon" type="image/png" href="/img/favicon.png">
        <!-- TITLE -->
        <title>Asahi - Food & Restaurant HTML Template</title>
    </head>

    <body>
		<!-- Start Preloader Area -->
		<div class="preloader">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
        <!-- End Preloader Area -->

        <!-- Start 404 Error -->
		<div class="error-area">
			<div class="d-table">
				<div class="d-table-cell">
                    <div class="error-contant-wrap">
                        <img src="/img/404.jpg" alt="404">
                        <h3>Oops! Page Not Found</h3>
                        <p>The page you were looking for could not be found.</p>
                        <a href="index.html" class="default-btn">
                            Return Home page
                            <i class="flaticon-right"></i>
                        </a>
                    </div>
				</div>
            </div>
		</div>
		<!-- End 404 Error -->

        
        <!-- Jquery Slim JS -->
        <script src="/js/jquery-3.2.1.slim.min.js"></script>
        <!-- Popper JS -->
        <script src="/js/popper.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="/js/bootstrap.min.js"></script>
        <!-- Meanmenu JS -->
		<script src="/js/jquery.meanmenu.js"></script>
		<!-- Nice Select JS -->
        <script src="/js/jquery.nice-select.min.js"></script>
        <!-- Wow JS -->
        <script src="/js/wow.min.js"></script>
        <!-- Owl Carousel JS -->
		<script src="/js/owl.carousel.js"></script>
        <!-- Bootstrap Datepicker JS -->
		<script src="/js/bootstrap-datepicker.min.js"></script>
        <!-- Imagelightbox JS -->
		<script src="/js/imagelightbox.min.js"></script>
        <!-- Appear JS -->
		<script src="/js/jquery.appear.js"></script>
        <!-- Odometer JS -->
		<script src="/js/odometer.min.js"></script>
		<!-- Form Ajaxchimp JS -->
		<script src="/js/jquery.ajaxchimp.min.js"></script>
		<!-- Form Validator JS -->
		<script src="/js/form-validator.min.js"></script>
		<!-- Contact Form JS -->
		<script src="/js/contact-form-script.js"></script>
        <!-- Custom JS -->
        <script src="/js/custom.js"></script>
    </body>
</html>