<%- include("partials/newHeader") %>

<style>
    .director {
        color: #ffaa3d;
        text-align: left;
    }

    p {
        text-align: left;
    }
</style>

<div data-content-region="header_bottom">
    <div data-layout-id="3fa4ff75-7562-47bd-abdd-3d8b397e02c2">
        <div data-sub-layout-container="512790dd-27db-4a97-8c22-c7af8d5c244e" data-layout-name="Layout">

        </div>
        <div data-sub-layout="5de32a06-5015-4f9f-94a6-b877f6cb4427">

        </div>
    </div>
</div>
<div class="body" data-currency-code="INR">
    <div class="highlight-product">
        <div data-content-region="home_below_menu"></div>
    </div>

    <div class="home-content">

        <!------>


        <!-- START CATEGORIES DIV ---->

        <div class="tt-featured container">
            <p>
                Our Purpose at College of Purity Pvt. Ltd. Is to revolutionize the procurement process of schools and
                colleges and similar institutions in India through our E-commerce portal. <br><br>

                Educational Institutions still rely on local market for their needs and procure material through vendors
                known to them or available in nearby market. We want to become a one stop shop solution provider for
                educational institution across India and remove the lacunae this sector faces in procurement.<br><br>

                With experience of over 50 years in the field and hands-on experience of dealing with the requirement of
                schools and colleges day in day out one of the Directors at College of Purity Pvt Ltd : Ankit Kabra had
                a vision to scale-up the existing setup of stock and sell to an online e-commerce entity that serves
                schools and colleges and other institutions pan-india and strives to remove the bottle necks that
                exists-in the procurement process of schools and colleges. Being in the industry Ankit realized that his
                customers faced difficulty in sourcing products that range from cleaning solutions to sanitation to lab
                solutions to hardware, gardening, stationary and so on and so forth and had a vision to provide a one
                stop solution to his customers to bring about a change in this sector in line with todays digital world
                that is all about streamlining with the help of technology.<br><br>

                In order to achieve that Ankit Kabra partnered with Akash Jalan, director at Eyelex films Private Ltd
                and Trustee at Bridgeford group of Schools, Jharkhand and experience of several other businesses to form
                College Of Purity Pvt. Ltd. that has a vision of serving Schools and Colleges across the length and
                breadth of the country.
            </p>

            <h4 class="director"><b>Inspiration behind 112cart.com where Service is Salvation</b></h4>
            <p>
                We at college of Purity Pvt Ltd have launched 112cart.com an e-commerce website with the soul purpose of
                blending spirituality and business. We believe that any business can only grow when it serves the need
                of its customers and provides solutions with purity.
            </p>

            <h2 class="page-heading" style="margin-bottom: 15px;">Values</h2>
            <p>
                Purity: Act with a sense of service to the customers and community at large.
                <br><br>
                Transparency: No False Commitment, Transparency in all our dealings.
                <br><br>
                Perfection: Repetition with improvement-getting better everyday- even with the same things but with a
                purpose of being part of something that contributes to the economy at large and benefits.
                <br><br>
                Spiritual growth: Team, Community. To use spirituality as a motivation behind business. To earn more to
                give more and provide more. To become a vehicle of growth for everyone involved from customers to
                employees to vendors to Indian economy at large
            </p>

            <h2 class="page-heading" style="margin-bottom: 15px;">Genesis</h2>
            <p>
                112, its inspiration comes from the ancient Indian vedic scripture called Vijñāna Bhairava Tantra which
                is a discourse between Bhairava (Lord Shiva) and Bhairavi (Goddess Parwati) and briefly presents 112
                techniques of meditation for self-reanimation. It’s a gift for mankind to understand life and self
                actualize through service.
                <br><br>

                112cart.com strives to find inspiration from the same goal of spirituality and believes that everything
                in this world from business to service should be done with this purity. Purity in business and service
                is our motto. Service is Salvation is our tagline.
                <br><br>

                College of Purity Private Limited is also working on bringing these 112 tantrik meditations or methods
                of meditation to everyone in the world through its digital avatar called 112ways.com.
                <br><br>

                We strive to propagate message of purity through various means in the modern world. E-commerce, Apps,
                Motion Pictures, Books and whatever the universe presents are our means to propagate our understanding
                of PURITY.
                <br><br>

                Purity for us is action that’s in conformity with the universe and aligned with its ethos. Purity is
                acting with a sense of service to the customer and community at large. Purity is every moment behavior
                that takes into account the well being of all parties involved. Purity is to be a part of something that
                contributes and get the benefits as a byproduct. Purity is to work without the stimuli of greed and
                fear.
            </p>
            <div class="tt-blog-list">
                <h1 class="page-heading">Profile of Directors</h1>
                <article class="tt-blog-content">
                    <div class="blog-post-figure col-5">
                        <figure class="blog-thumbnail">
                            <p class="blog-date">Ankit Kabra</p>
                            <img class="lazyload"
                                src="https://d6fhaebhrj3za.cloudfront.net/images/homePage/aboutus1.jpg"
                                alt="Ankit Kabra" title="Ankit Kabra">
                            <span class="image-block-hover">
                                <span class="block-hover-icons">
                                    <a href="https://theme-payeeshop.mybigcommerce.com/blog/lacus-rhoncus-tincidunt/"><i
                                            class="fa fa-link"></i></a>
                                </span>
                            </span>

                        </figure>
                    </div>

                    <div class="blog-post-body col-7">
                        <header class="blog-header">
                            <h2 class="blog-title">
                                Ankit Kabra
                            </h2>
                        </header>

                        <div class="blog-post">
                            Ankit Kabra, Proprietor at Trinity Scientific Stores and Hemant Traders has been in the
                            business of distribution of Lab Chemicals, Industrial Chemicals, Food Chemicals, Water
                            Treatment Chemicals, Lab equipments, Scientific Instruments, Machineries for Industries,
                            Solution provider for Industries big and small.<br><br>
                            Ankit Kabra was also a Partner at Samriddhi Financial Services and has experience as a stock
                            broker and wealth manager.
                        </div>
                    </div>
                </article>

                <article class="tt-blog-content">
                    <div class="blog-post-figure col-5">
                        <figure class="blog-thumbnail">
                            <p class="blog-date">Akash Jalan</p>
                            <img class="lazyload"
                                src="https://d6fhaebhrj3za.cloudfront.net/images/homePage/aboutus2.jpg"
                                alt="Akash Jalan" title="Akash Jalan">
                            <span class="image-block-hover">
                                <span class="block-hover-icons">
                                    <a href="https://theme-payeeshop.mybigcommerce.com/blog/lacus-rhoncus-tincidunt/"><i
                                            class="fa fa-link"></i></a>
                                </span>
                            </span>
                        </figure>
                    </div>

                    <div class="blog-post-body col-7">
                        <header class="blog-header">
                            <h2 class="blog-title">
                                Akash Jalan
                            </h2>
                        </header>

                        <div class="blog-post">
                            Mr. Akash Jalan, promoter of Jalan Group, hold a bachelor degree of Science in Business
                            Administration from American University of Sharjah, UAE, he completed his Psychology and
                            Human Resource Management from The Wharton School University of Pennsylvania, and has and
                            expertise in International Business and Management Finance from Harvard University.
                            Mr. Jalan did his internships and has got training from various diversified fields such as
                            Avaition Industry, IT Industry, Media Industry and one of the biggest real estate firm ,
                            Majid Al Futtaim Group of Co. , UAE. He is from a business background hence he entered his
                            family’s business in 2005 through the paper industry (A Manufacturing Unit) in Bilaspur as
                            the Director, Head Marketing and Sales and with his experience in management he joined the
                            family entertainment group, “Eylex Films Pvt Ltd” as one of the Directors. As a Director and
                            Marketing personnel, Mr. Akash is instrumental in identifying the important business
                            initiatives and strategic opportunities for the company.
                        </div>
                    </div>
                </article>
                <div style="text-align: left; margin-top: 30px;">
                    <h4>Jalan Group Business in India:</h4>
                    <h3>Cinema - Exhibition, Distribution & Production</h3>
                    <li>Eylex Films Pvt. Ltd</li>
                    <li>Ranchi Entertainment Pvt. Ltd.</li>
                    <li>Eylex Motion Pictures</li>
                    <br><br>

                    <h3>Solar Energy</h3>
                    Eylex Renewal Energy Pvt. Ltd
                    <br><br>

                    <h3>Schools</h3>
                    Bridgeford Group of Education under Agesis of G.P. Jalan Memorial Trust (4 School’s operation under
                    this trust)
                    <br><br>

                    <h3>Real Estate</h3>
                    <li>Pristise Regent Infratect Pvt. Ltd.</li>
                    <li>Advik Developers </li>
                    <li>Panas Realtors </li>
                    <br><br>

                    <h3>Hospitals</h3>
                    <li>Rinchi Trust Hospital Manufacturing </li>
                    <li>Pristine Brick & Tiles Pvt. Ltd.</li>
                    <br><br>

                    <h3>Law Firms</h3>
                    <li>Pristine Partners </li>
                    <li>Legal Solution</li>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/newFooter") %>