<%- include("partials/adminHeader.ejs") %>

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Order Section</li>
        </ol>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> Order Section</div>
            <div class="container margin_60_35">
                <div class="row">

                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="box_grid wow">
                            <figure class="block-reveal">
                                <div class="block-horizzontal"></div>
                                <a href="#0" class="wish_bt"></a>
                                <a href="/admin/items"><img src="https://d6fhaebhrj3za.cloudfront.net
/images/AdminImages/ItemOrServiceSection.jpg" class="img-fluid" alt=""></a>
                            </figure>
                            <div class="wrapper">
                                <small>Admin Exclusive</small>
                                <a href="/admin/items">
                                    <h3>Items/Services</h3>
                                </a>
                                <p>Show the list of all items and services and modify them. Create Items and Services
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="box_grid wow">
                            <figure class="block-reveal">
                                <div class="block-horizzontal"></div>
                                <a href="#0" class="wish_bt"></a>
                                <a href=""><img src="https://d6fhaebhrj3za.cloudfront.net
/images/AdminImages/ConvenienceFees.jpg" class="img-fluid" alt=""></a>
                            </figure>
                            <div class="wrapper">
                                <small>Admin Exclusive</small>
                                <a href="">
                                    <h3>Convenience Fees</h3>
                                </a>
                                <p>Select convenience fees from codebase or enter manually</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/adminFooter.ejs") %>