<%- include("partials/adminHeader.ejs") %>

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Super Admin Section</li>
        </ol>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i>Super Admin Section</div>
            <div class="container margin_60_35">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="box_grid wow">
                            <figure class="block-reveal">
                                <div class="block-horizzontal"></div>
                                <a href="#0" class="wish_bt"></a>
                                <a href="/admin/createDeal"><img
                                        src="https://d6fhaebhrj3za.cloudfront.net/images/AdminImages/UsersSection.jpg"
                                        class="img-fluid" alt=""></a>
                            </figure>
                            <div class="wrapper">
                                <small>Admin Exclusive</small>
                                <a href="/admin/createDeal">
                                    <h3>Users Section</h3>
                                </a>
                                <p>Navigate and view all types of users</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="box_grid wow">
                            <figure class="block-reveal">
                                <div class="block-horizzontal"></div>
                                <a href="#0" class="wish_bt"></a>
                                <a href="/admin/orders-section"><img
                                        src="https://d6fhaebhrj3za.cloudfront.net/images/AdminImages/OrdersSection.jpg"
                                        class="img-fluid" alt=""></a>
                            </figure>
                            <div class="wrapper">
                                <small>Admin Exclusive</small>
                                <a href="/admin/orders-section">
                                    <h3>Orders Section</h3>
                                </a>
                                <p>Navigate and view all types of orders and toggle actions.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="box_grid wow">
                            <figure class="block-reveal">
                                <div class="block-horizzontal"></div>
                                <a href="#0" class="wish_bt"></a>
                                <a href="/admin/discountCodes"><img
                                        src="https://d6fhaebhrj3za.cloudfront.net/images/AdminImages/AccountsAndInvoice.jpg"
                                        class="img-fluid" alt=""></a>

                            </figure>
                            <div class="wrapper">
                                <small>Admin Exclusive</small>
                                <a href="/admin/discountCodes">
                                    <h3>Accounts and Invoice</h3>
                                </a>
                                <p>Generate Invoice and Download Data</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="box_grid wow">
                            <figure class="block-reveal">
                                <div class="block-horizzontal"></div>
                                <a href="#0" class="wish_bt"></a>
                                <a href="/admin/item-section"><img
                                        src="https://d6fhaebhrj3za.cloudfront.net/images/AdminImages/ItemOrServiceSection.jpg"
                                        class="img-fluid" alt=""></a>

                            </figure>
                            <div class="wrapper">
                                <small>Admin Exclusive</small>
                                <a href="/admin/item-section">
                                    <h3>Item/Service Section</h3>
                                </a>
                                <p>View and navigate through items and convenience fees</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="box_grid wow">
                            <figure class="block-reveal">
                                <div class="block-horizzontal"></div>
                                <a href="#0" class="wish_bt"></a>
                                <a href="/admin/offer-section"><img
                                        src="https://d6fhaebhrj3za.cloudfront.net/images/AdminImages/OffersSection.jpg"
                                        class="img-fluid" alt=""></a>

                            </figure>
                            <div class="wrapper">
                                <small>Admin Exclusive</small>
                                <a href="/admin/offer-section">
                                    <h3>Offers Section</h3>
                                </a>
                                <p>View and navigate through offers and discounts</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/adminFooter.ejs") %>