<%- include("partials/adminHeader.ejs") %>

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">User Section</li>
        </ol>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i>User Section</div>
            <div class="container margin_60_35">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="box_grid wow">
                            <figure class="block-reveal">
                                <div class="block-horizzontal"></div>
                                <a href="#0" class="wish_bt"></a>
                                <a href="/admin/getUsers"><img src="/img2/addUser.jpg" class="img-fluid" alt=""></a>
                            </figure>
                            <div class="wrapper">
                                <small>Admin Exclusive</small>
                                <a href="/admin/getUsers">
                                    <h3>All Users</h3>
                                </a>
                                <p>Navigate and view all types of users</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="box_grid wow">
                            <figure class="block-reveal">
                                <div class="block-horizzontal"></div>
                                <a href="#0" class="wish_bt"></a>
                                <a href="/admin/orders-section"><img src="/img2/regStats.jpg" class="img-fluid" alt=""></a>
                            </figure>
                            <div class="wrapper">
                                <small>Admin Exclusive</small>
                                <a href="/admin/getIndividuals">
                                    <h3>Individual Users</h3>
                                </a>
                                <p>Navigate and view all types of orders and toggle actions.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="box_grid wow">
                            <figure class="block-reveal">
                                <div class="block-horizzontal"></div>
                                <a href="#0" class="wish_bt"></a>
                                <a href="/users/business-accounts/accepted"><img src="/img2/unregistered.jpg" class="img-fluid"
                                        alt=""></a>

                            </figure>
                            <div class="wrapper">
                                <small>Admin Exclusive</small>
                                <a href="/users/business-accounts/accepted">
                                    <h3>Business Users</h3>
                                </a>
                                <p>Generate Invoice and Download Data</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="box_grid wow">
                            <figure class="block-reveal">
                                <div class="block-horizzontal"></div>
                                <a href="#0" class="wish_bt"></a>
                                <a href="/users/business-accounts"><img src="/img2/unregistered.jpg" class="img-fluid"
                                        alt=""></a>

                            </figure>
                            <div class="wrapper">
                                <small>Admin Exclusive</small>
                                <a href="/users/business-accounts">
                                    <h3>Users that applied for Business User</h3>
                                </a>
                                <p>View and navigate through items and convenience fees</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="box_grid wow">
                            <figure class="block-reveal">
                                <div class="block-horizzontal"></div>
                                <a href="#0" class="wish_bt"></a>
                                <a href="/admin/offer-section"><img src="/img2/unregistered.jpg" class="img-fluid"
                                        alt=""></a>

                            </figure>
                            <div class="wrapper">
                                <small>Admin Exclusive</small>
                                <a href="/users/all/premium-account">
                                    <h3>Premium Business Users</h3>
                                </a>
                                <p>View and navigate through offers and discounts</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/adminFooter") %>