<%- include("partials/adminHeader.ejs") %>

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Offer Section</li>
        </ol>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> Offer Section</div>
            <div class="container margin_60_35">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="box_grid wow">
                            <figure class="block-reveal">
                                <div class="block-horizzontal"></div>
                                <a href="#0" class="wish_bt"></a>
                                <a href="/admin/createDeal"><img src="/img2/addUser.jpg" class="img-fluid" alt=""></a>
                            </figure>
                            <div class="wrapper">
                                <small>Admin Exclusive</small>
                                <a href="/admin/createDeal">
                                    <h3>Create Deal</h3>
                                </a>
                                <p>Create a new Deal applicable on all products.</p>

                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="box_grid wow">
                            <figure class="block-reveal">
                                <div class="block-horizzontal"></div>
                                <a href="#0" class="wish_bt"></a>
                                <a href="/admin/offers"><img src="/img2/regStats.jpg" class="img-fluid" alt=""></a>
                            </figure>
                            <div class="wrapper">
                                <small>Admin Exclusive</small>
                                <a href="/admin/offers">
                                    <h3>Offers</h3>
                                </a>
                                <p>Check out existing offers and their details and toggle the offer. You can also create
                                    an offer.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="box_grid wow">
                            <figure class="block-reveal">
                                <div class="block-horizzontal"></div>
                                <a href="#0" class="wish_bt"></a>
                                <a href="/admin/discountCodes"><img src="/img2/unregistered.jpg" class="img-fluid"
                                        alt=""></a>

                            </figure>
                            <div class="wrapper">
                                <small>Admin Exclusive</small>
                                <a href="/admin/discountCodes">
                                    <h3>Discount Codes</h3>
                                </a>
                                <p>Create Discount Codes for specific products</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="box_grid wow">
                            <figure class="block-reveal">
                                <div class="block-horizzontal"></div>
                                <a href="#0" class="wish_bt"></a>
                                <a href="/admin/discountCodes"><img src="/img2/unregistered.jpg" class="img-fluid"
                                        alt=""></a>

                            </figure>
                            <div class="wrapper">
                                <small>Admin Exclusive</small>
                                <a href="/admin/discountCodes">
                                    <h3>Display Offer</h3>
                                </a>
                                <p>Create Discount Codes for specific products</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/adminFooter.ejs") %>