<%- include("partials/adminHeader.ejs") %>

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Order Section</li>
        </ol>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> Order Section</div>
            <div class="container margin_60_35">
                <div class="row">

                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="box_grid wow">
                            <figure class="block-reveal">
                                <div class="block-horizzontal"></div>
                                <a href="#0" class="wish_bt"></a>
                                <a href="/admin/orders-filter"><img src="/img2/addUser.jpg" class="img-fluid" alt=""></a>
                            </figure>
                            <div class="wrapper">
                                <small>Admin Exclusive</small>
                                <a href="/admin/orders-filter">
                                    <h3>All Orders</h3>
                                </a>
                                <p>Show the list of all orders</p>

                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="box_grid wow">
                            <figure class="block-reveal">
                                <div class="block-horizzontal"></div>
                                <a href="#0" class="wish_bt"></a>
                                <a href="/admin/orders-filter-payment/online"><img src="/img2/addUser.jpg" class="img-fluid" alt=""></a>
                            </figure>
                            <div class="wrapper">
                                <small>Admin Exclusive</small>
                                <a href="/admin/orders-filter-payment/online">
                                    <h3>Online Orders</h3>
                                </a>
                                <p>Show the list of Online Orders that are ready to ship</p>

                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="box_grid wow">
                            <figure class="block-reveal">
                                <div class="block-horizzontal"></div>
                                <a href="#0" class="wish_bt"></a>
                                <a href="/admin/orders-filter-payment/credit"><img src="/img2/regStats.jpg" class="img-fluid" alt=""></a>
                            </figure>
                            <div class="wrapper">
                                <small>Admin Exclusive</small>
                                <a href="/admin/orders-filter-payment/credit">
                                    <h3>Credit Orders</h3>
                                </a>
                                <p>Show the list of all Credit orders with toggle authorize.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="box_grid wow">
                            <figure class="block-reveal">
                                <div class="block-horizzontal"></div>
                                <a href="#0" class="wish_bt"></a>
                                <a href="/admin/orders-filter-payment/cod"><img src="/img2/unregistered.jpg" class="img-fluid"
                                        alt=""></a>

                            </figure>
                            <div class="wrapper">
                                <small>Admin Exclusive</small>
                                <a href="/admin/orders-filter-payment/cod">
                                    <h3>Cash on Delivery Orders</h3>
                                </a>
                                <p>Show the list of COD orders with options to authorize and change to credit</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="box_grid wow">
                            <figure class="block-reveal">
                                <div class="block-horizzontal"></div>
                                <a href="#0" class="wish_bt"></a>
                                <a href="/admin/discountCodes"><img src="/img2/unregistered.jpg" class="img-fluid"
                                        alt=""></a>

                            </figure>
                            <div class="wrapper">
                                <small>Admin Exclusive</small>
                                <a href="/admin/discountCodes">
                                    <h3>Complete Orders</h3>
                                </a>
                                <p>Show the list of all complete orders</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="box_grid wow">
                            <figure class="block-reveal">
                                <div class="block-horizzontal"></div>
                                <a href="#0" class="wish_bt"></a>
                                <a href="/admin/discountCodes"><img src="/img2/unregistered.jpg" class="img-fluid"
                                        alt=""></a>

                            </figure>
                            <div class="wrapper">
                                <small>Admin Exclusive</small>
                                <a href="/admin/discountCodes">
                                    <h3>Saved Orders</h3>
                                </a>
                                <p>Show the list of Saved Orders with options to Authorize as COD and Allow Credit</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="box_grid wow">
                            <figure class="block-reveal">
                                <div class="block-horizzontal"></div>
                                <a href="#0" class="wish_bt"></a>
                                <a href="/admin/discountCodes"><img src="/img2/unregistered.jpg" class="img-fluid"
                                        alt=""></a>

                            </figure>
                            <div class="wrapper">
                                <small>Admin Exclusive</small>
                                <a href="/admin/discountCodes">
                                    <h3>Orders with Get Quote</h3>
                                </a>
                                <p>Show the list of orders with Get Quote with options to allow Credit and authorize as COD</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/adminFooter.ejs") %>