<%- include("partials/newHeader.ejs") %>

<div data-content-region="header_bottom">
    <div data-layout-id="3fa4ff75-7562-47bd-abdd-3d8b397e02c2">
        <div data-sub-layout-container="512790dd-27db-4a97-8c22-c7af8d5c244e" data-layout-name="Layout">

        </div>
        <div data-sub-layout="5de32a06-5015-4f9f-94a6-b877f6cb4427">

        </div>
    </div>
</div>

<div class="body" data-currency-code="INR">

    <div class="tt-featured container">

        <div class="uk-text-center" uk-grid>
            <div class="uk-width-1-2@m">
                <iframe src="https://www.youtube.com/embed/v-AJ1f0A6GI" width="1920" height="1080" frameborder="0"
                    allowfullscreen uk-responsive uk-video="automute: true"></iframe>
            </div>
            <div class="uk-width-1-2@m">
                <h1 class="uk-heading-medium" style="text-align: left; padding-top: 7%;"><b>Air Fumigation</b>
                </h1>
                <h1 style="color: #ffaa3d; font-size: 35px; font-weight: bold; text-align: left;">@ ₹ 1 per sq. ft only
                </h1>
            </div>
            <div class="uk-width-1-2@m">
                <img src="https://www.chemtexltd.com/wp-content/uploads/2020/06/12x1Ltr_Silvox-150-Fume-630x630.jpg"
                    width="70%">
            </div>
            <div class="uk-width-1-2@m">

                <h3 style="text-align: left; font-size: large; padding-top: 15%;">
                    Chemtex Alastasan Silvox 150 Fume ( Air Fumigant and
                    disinfactant ) Accelerated Hydrogen Peroxide based formulation with added Stabilizers and Aloe Vera
                    extracts for disinfection in enclosed spaces of residential, commercial, and industrial sectors.
                </h3>
                <div style="text-align: left; color: black;">

                    <form method="POST" action="/add/26hJIJfwP">
                        <label class="uk-form-label" for="form-horizontal-text"><b>Quantity (sq. ft)</b></label>
                        <div class="uk-margin">
                            <div uk-form-custom="target: true">
                                <div class="uk-form-controls">
                                    <input class="uk-input uk-form-width-small" id="form-horizontal-text" type="number"
                                        placeholder="Enter Quantity" value="1000" name="quantity" min="1000">
                                </div>
                            </div>
                            <button class="button button--primary" style="margin: 0;">Add to Cart</button>
                            <a class="button button--primary" style="margin: 0;" href="/service/26hJIJfwP">Get Quote</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="uk-margin" style="padding-left: 30%; padding-right: 30%;">
        <form method="POST" action="">
            <input class="uk-input uk-form-width-large" type="text" placeholder="First Name*" required>
            <input class="uk-input uk-form-width-large" type="text" placeholder="Last Name*" required>
            <input class="uk-input uk-form-width-large" type="text" placeholder="Contact Number*" required>
            <input class="uk-input uk-form-width-large" type="text" placeholder="Email" required>
            <select class="uk-select uk-form-width-large">
                <option>Commercial</option>
                <option>Residential</option>
            </select>
            <div class="uk-form-controls">
                <input class="uk-input uk-form-width-large" id="form-horizontal-text" type="number"
                    placeholder="Enter Quantity" value="1000" min="1000">
            </div>
            <button class="button button--primary" style="margin-top: 10px;">Get Quote</button>
        </form>
    </div> -->

</div>

<%- include("partials/newFooter.ejs") %>