<%- include("partials/newHeader.ejs") %>

<div data-content-region="header_bottom">
    <div data-layout-id="3fa4ff75-7562-47bd-abdd-3d8b397e02c2">
        <div data-sub-layout-container="512790dd-27db-4a97-8c22-c7af8d5c244e" data-layout-name="Layout">

        </div>
        <div data-sub-layout="5de32a06-5015-4f9f-94a6-b877f6cb4427">

        </div>
    </div>
</div>

<div class="body" data-currency-code="INR">

    <div class="tt-featured container">

        <div class="uk-text-center" uk-grid>
            <div class="uk-width-1-2@m">
                <iframe src="https://www.youtube.com/embed/1J1M5u2OPms" width="1920" height="1080" frameborder="0"
                    allowfullscreen uk-responsive uk-video="automute: true"></iframe>
            </div>
            <div class="uk-width-1-2@m">
                <h1 class="uk-heading-medium" style="text-align: left; padding-top: 7%;"><b>Complete Disinfection</b>
                </h1>
                <h1 style="color: #ffaa3d; font-size: 35px; font-weight: bold; text-align: left;">@ ₹ 5 per sq. ft only
                </h1>
            </div>
            <div class="uk-width-1-2@m">
                <img src="https://www.chemtexltd.com/wp-content/uploads/2020/10/939fb55c-00a2-4a02-96c8-35431655450f-630x630.jpg"
                    width="70%">
            </div>
            <div class="uk-width-1-2@m">

                <h3 style="text-align: left; font-size: large;">
                    With most cross transmission of pathogens happening from surfaces and touch, it necessitates the
                    need for routinely disinfection. But daily disinfection is laborious, burdensome, if not less
                    reliable.<br><br>

                    “Chemtex BioBubble” series of services and products disposes the need for daily disinfection and
                    brings in a more proactive approach to prevent surface based cross transmission of various diseases.
                    BioBubble your space and protect your guests and employees from Surface Transmission of disease.
                    <br><br>

                    This technology is registered by USEPA (United States Environmental Protection Agency) under
                    registration no. EPA 739-R-07-007, and has been the only proven technology for surface antivirus
                    coating. Once a surface is coated with Chemtex BioBubble (Trade Name for Trimethoxysilyl QAC) then
                    there is no need of daily disinfection.<br><br>
                    <div style="text-align: left; color: black; font-size: medium;">
                        <ul class="uk-list uk-list-circle">
                            <li>Preventive approach: Safe and long term antimicrobial function- Non leaching, non-reactionary technology</li>
                            <li>Transparent mono-molecular antimicrobial coating</li>
                            <li>Cost effective, less laborious</li>
                            <li>Non-toxic, naturally derived and biodegradable</li>
                            <li>Non corrosive, well compatible</li>
                            <li>Prevents mal odour and biofilm formation</li>
                        </ul>
                    </div>
                </h3>
                <div style="text-align: left; color: black;">

                    <form method="POST" action="/add/dtz82JLEq">
                        <label class="uk-form-label" for="form-horizontal-text"><b>Quantity (sq. ft)</b></label>
                        <div class="uk-margin">
                            <div uk-form-custom="target: true">
                                <div class="uk-form-controls">
                                    <input class="uk-input uk-form-width-small" id="form-horizontal-text" type="number"
                                        placeholder="Enter Quantity" value="1000" name="quantity" min="1000">
                                </div>
                            </div>
                            <button class="button button--primary" style="margin: 0;">Add to Cart</button>
                            <a class="button button--primary" style="margin: 0;" href="/service/dtz82JLEq">Get Quote</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="uk-margin" style="padding-left: 30%; padding-right: 30%;">
        <form method="POST" action="">
            <input class="uk-input uk-form-width-large" type="text" placeholder="First Name*" required>
            <input class="uk-input uk-form-width-large" type="text" placeholder="Last Name*" required>
            <input class="uk-input uk-form-width-large" type="text" placeholder="Contact Number*" required>
            <input class="uk-input uk-form-width-large" type="text" placeholder="Email" required>
            <select class="uk-select uk-form-width-large">
                <option>Commercial</option>
                <option>Residential</option>
            </select>
            <div class="uk-form-controls">
                <input class="uk-input uk-form-width-large" id="form-horizontal-text" type="number"
                    placeholder="Enter Quantity" value="1000" min="1000">
            </div>
            <button class="button button--primary" style="margin-top: 10px;">Get Quote</button>
        </form>
    </div> -->

</div>

<%- include("partials/newFooter.ejs") %>