<%- include('partials/adminHeader'); -%>

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Add listing</li>
        </ol>
        <div class="box_general padding_bottom">
            <div class="header_box version_2">
                <h2><i class="fa fa-file"></i>Add Vendor</h2>
            </div>

            <div class="container">
                <br>
                <h1>Add Vendor</h1>
                <br>
                <br>
                <form action="/admin/createVendor" method="POST">
                    <div class="ui form">

                        <div class="field">
                            <label>Vendor Name</label>
                            <input type="text" placeholder="Vendor Name" name="vendorName" required>
                        </div>
                        <div class="field">
                            <label>Vendor Id(Make sure this value is unique)</label>
                            <input type="text" placeholder="Vendor ID" name="vendorId" required>
                        </div>

                        <div class="field">
                            <label>Address</label>
                            <input type="text" placeholder="address" name="address">
                        </div>
                        <div class="field">
                            <label>City</label>
                            <input type="text" placeholder="city" name="city">
                        </div>

                        <div class="field">
                            <label>State</label>
                            <input type="text" placeholder="state" name="state">
                        </div>

                        <div class="field">
                            <label>Phone</label>
                            <input type="number" placeholder="phone" name="phone" minlength="10" maxlength="10">
                        </div>

                        <div class="field">
                            <label>Email</label>
                            <input type="text" placeholder="email" name="email">
                        </div>
                        <div class="field">
                            <label>Pickup Location(shiprocket pickup address nickname)</label>
                            <input type="text" placeholder="pickup location" name="pickup_location">
                        </div>
                    </div>
                    <button class="ui button" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('partials/adminFooter'); -%>