<%- include('partials/adminHeader'); -%>

<div class="container">
    <br>
    <h1>Add Item</h1>
    <br>
    <br>
    <form method="" action="POST">
        <div class="ui form">

            <div class="field">
                <label>Name</label>
                <input type="text" placeholder="Name">
            </div>
            <div class="field">
                <label>Item ID</label>
                <input type="text" placeholder="IID">
            </div>
            <div class="field">
                <label>Sale</label>
                <input type="text" placeholder="Sale">
            </div>
            <div class="field">
                <label>Price</label>
                <input type="text" placeholder="Price">
            </div>
            <div class="field">
                <label>Image Link</label>
                <input type="text" placeholder="ImageLink">
            </div>
            <div class="field">
                <label>Content</label>
                <textarea rows="2" spellcheck="true" placeholder="Content"></textarea>
            </div>
        </div>
    </form>
</div>

<%- include('partials/adminFooter'); -%>