
      Login
      <% if(typeof errors != 'undefined'){ %> <% errors.forEach(function(error) { %>
        <div  role="alert">
          <%= error.msg %>
          <button type="button" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% }); %> <% } %> <% if(success_msg != ''){ %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= success_msg %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } %> <% if(error_msg != ''){ %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= error_msg %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } %> <% if(error != ''){ %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= error %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } %>
        
      <form action="/users/login" method="POST">
        <div>
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Enter Email"
          />
        </div>
        <div>
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter Password"
          />
        </div>
        <button type="submit" >Login</button>
        <a href="/auth/google">Login with Google</a>
        <a href="/auth/facebook">Login with facebook</a>

      </form>
      <p >
        No Account? <a href="/users/register">Register</a>
      </p>
 
