<!doctype html>
<html lang="zxx">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://d6fhaebhrj3za.cloudfront.net/css/bootstrap.min.css">
	<!-- Owl Theme Default CSS -->
	<link rel="stylesheet" href="https://d6fhaebhrj3za.cloudfront.net/css/owl.theme.default.min.css">
	<!-- Owl Carousel CSS -->
	<link rel="stylesheet" href="https://d6fhaebhrj3za.cloudfront.net/css/owl.carousel.min.css">
	<!-- Animate CSS -->
	<link rel="stylesheet" href="https://d6fhaebhrj3za.cloudfront.net/css/animate.min.css">
	<!-- Flaticon CSS -->
	<link rel="stylesheet" href="/css/flaticon.css">
	<!-- Font Awesome CSS -->
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<!-- Nice Select CSS -->
	<link rel="stylesheet" href="https://d6fhaebhrj3za.cloudfront.net/css/nice-select.css">
	<!-- Imagelightbox CSS -->
	<link rel="stylesheet" href="https://d6fhaebhrj3za.cloudfront.net/css/imagelightbox.min.css">
	<!-- Meanmenu CSS -->
	<link rel="stylesheet" href="https://d6fhaebhrj3za.cloudfront.net/css/meanmenu.min.css">
	<!-- Date Picker CSS -->
	<link rel="stylesheet" href="https://d6fhaebhrj3za.cloudfront.net/css/date-picker.min.css">
	<!-- Date Picker CSS -->
	<link rel="stylesheet" href="https://d6fhaebhrj3za.cloudfront.net/css/odometer.min.css">
	<!-- Style CSS -->
	<link rel="stylesheet" href="/css/style.css">
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="/css/responsive.css">

	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img//apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
	<link rel="manifest" href="/img/site.webmanifest">
	<!-- TITLE -->
	<title>Asahi - Food & Restaurant HTML Template</title>
</head>

<body>
	<!-- Start Preloader Area -->
	<div class="preloader">
		<div class="spinner">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
	</div>
	<!-- End Preloader Area -->

	<!-- Start Login Area -->
	<section class="login-area">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 col-md-6 p-0">
					<div class="log-in-bg"></div>
				</div>
				<div class="col-lg-6 col-md-6 p-0">
					<% if(typeof errors != 'undefined'){ %> <% errors.forEach(function(error) { %>
					<div role="alert">
						<%= error.msg %>
						<button type="button" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<% }); %> <% } %> <% if(success_msg != ''){ %>
					<div class="alert alert-success alert-dismissible fade show" role="alert">
						<%= success_msg %>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<% } %> <% if(error_msg != ''){ %>
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						<%= error_msg %>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<% } %> <% if(error != ''){ %>
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						<%= error %>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<% } %>
					<div class="login-form">
						<h3>Log In</h3>
						<form action="/users/login" method="POST">
							<div class="row">
								<div class="col-lg-12">
									<div class="form-group">
										<label>Email</label>
										<input type="email" name="email" class="form-control"
											placeholder="Email Address">
									</div>
								</div>
								<div class="col-lg-12">
									<div class="form-group">
										<label>Password</label>
										<input type="password" name="password" class="form-control"
											placeholder="Password">
									</div>
								</div>
								<div class="col-md-6 offset-md-3">
									<button type="submit" class="btn default-btn">
										Login
									</button>
								</div>
								<div class="col-lg-12">
									<p><a href="/recover">Forgot your password?</a></p>
									<p><a href="/users/register">Create new account?</a></p>
									<p><a href="/auth/google">Login with Google</a></p>
									<p><a href="/auth/facebook">Login with facebook</a></p>
								</div>
								<div class="col-lg-12">
									<ul class="social-list">
										<li>
											<a href="#">
												<i class="fa fa-facebook"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fa fa-twitter"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fa fa-google-plus"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fa fa-linkedin"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Login Area -->


	<!-- Jquery Slim JS -->
	<script src="https://d6fhaebhrj3za.cloudfront.net/js/jquery-3.2.1.slim.min.js"></script>
	<!-- Popper JS -->
	<script src="https://d6fhaebhrj3za.cloudfront.net/js/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="https://d6fhaebhrj3za.cloudfront.net/js/bootstrap.min.js"></script>
	<!-- Meanmenu JS -->
	<script src="https://d6fhaebhrj3za.cloudfront.net/js/jquery.meanmenu.js"></script>
	<!-- Nice Select JS -->
	<script src="https://d6fhaebhrj3za.cloudfront.net/js/jquery.nice-select.min.js"></script>
	<!-- Wow JS -->
	<script src="https://d6fhaebhrj3za.cloudfront.net/js/wow.min.js"></script>
	<!-- Owl Carousel JS -->
	<script src="https://d6fhaebhrj3za.cloudfront.net/js/owl.carousel.js"></script>
	<!-- Bootstrap Datepicker JS -->
	<script src="https://d6fhaebhrj3za.cloudfront.net/js/bootstrap-datepicker.min.js"></script>
	<!-- Imagelightbox JS -->
	<script src="https://d6fhaebhrj3za.cloudfront.net/js/imagelightbox.min.js"></script>
	<!-- Appear JS -->
	<script src="https://d6fhaebhrj3za.cloudfront.net/js/jquery.appear.js"></script>
	<!-- Odometer JS -->
	<script src="https://d6fhaebhrj3za.cloudfront.net/js/odometer.min.js"></script>
	<!-- Form Ajaxchimp JS -->
	<script src="https://d6fhaebhrj3za.cloudfront.net/js/jquery.ajaxchimp.min.js"></script>
	<!-- Form Validator JS -->
	<script src="https://d6fhaebhrj3za.cloudfront.net/js/form-validator.min.js"></script>
	<!-- Contact Form JS -->
	<script src="https://d6fhaebhrj3za.cloudfront.net/js/contact-form-script.js"></script>
	<!-- Custom JS -->
	<script src="https://d6fhaebhrj3za.cloudfront.net/js/custom.js"></script>
</body>

</html>