<%- include("partials/newHeader.ejs") %>

<style>
    h1,
    h2 {
        font-weight: bold;
    }
</style>

<div data-content-region="header_bottom"></div>
<div class="body" data-currency-code="INR">

    <div class="home-content">

        <div class="tt-breadcrumbs-main">
            <div class="tt-breadcrumbs">
                <div class="container">
                    <h1 class="category-name">
                        <span class="breadcrumb-title ">
                        </span>
                        <span class="breadcrumb-title is-active">
                            <span class="breadcrumb-label">Privacy Policy</span>
                        </span>
                    </h1>
                    <ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li class="breadcrumb " itemprop="itemListElement" itemscope
                            itemtype="http://schema.org/ListItem">
                            <a href="/" class="breadcrumb-label" itemprop="item"><span itemprop="name">Home</span></a>
                            <meta itemprop="position" content="1" />
                        </li>
                        <li class="breadcrumb is-active" itemprop="itemListElement" itemscope
                            itemtype="http://schema.org/ListItem">
                            <meta itemprop="item" content="/terms-conditions/">
                            <span class="breadcrumb-label" itemprop="name">Privacy Policy</span>
                            <meta itemprop="position" content="2" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <main class="tt-page page-content--centered">
            <h1 class="page-heading">Privacy Policy</h1>


            <div data-content-region="page_builder_content"></div>

            <div class="page-content">
                <h2>Personal Information</h2>
                <p>
                    College of Purity (“COP”) is the licensed owner of the brand <a href="/"><b>112cart.com</b></a> and
                    the website <a href="/"><b>www.112cart.com</b></a> (”The Site”). COP respects your privacy. This
                    Privacy Policy provides succinctly the manner your data is collected and used by COP on the Site. As
                    a visitor to the Site/ Customer, you are advised to please read the Privacy Policy carefully. By
                    accessing the services provided by the Site you agree to the collection and use of your data by COP
                    in the manner provided in this Privacy Policy.<br>
                    We know that you care how information about you is used and shared, and we appreciate your trust
                    that we will do so carefully and sensibly. This Privacy Policy describes how COP and its affiliates
                    collect and process your personal information through the Site, 112cart.com Software, devices,
                    products, services, online marketplace and applications that reference this Privacy Policy (together
                    "COP Services").<br>
                    By using COP Services you agree to our use of your personal information (including sensitive
                    personal information) in accordance with this Privacy Policy, as may be amended from time to time by
                    us at our discretion. You also agree and consent to us collecting, storing, processing,
                    transferring, and sharing your personal information (including sensitive personal information) with
                    third parties or service providers for the purposes set out in this Privacy Policy.<br>
                    Personal information subject to this Privacy Policy will be collected and retained by COP.
                </p>
                <h2>What information is, or maybe, collected from you?</h2>
                <p>
                    We collect your personal information in order to provide and continually improve our products and
                    services. As part of the registration process on the Site, COP may collect the following personally
                    identifiable information about you: Name including first and last name, alternate email address,
                    mobile phone number and contact details, Postal code, Demographic profile (like your age, gender,
                    occupation, education, address etc.) and information about the pages on the site you visit/ access,
                    the links you click on the site, the number of times you access the page and any such browsing
                    information. We may automatically collect and store certain types of information about your use of
                    COP Services, including information about your interaction with content and services available
                    through COP Services. Like many websites, we may use cookies and other unique identifiers, and we
                    obtain certain types of information when your web browser or device accesses COP Services and other
                    content served by or on behalf of COP on other websites. Additionally, we might receive information
                    about you from other sources, such as updated delivery and address information from our carriers,
                    which we use to correct our records and deliver your next purchase more easily.
                </p>
                <h2>How do we collect the Information?</h2>
                <p>
                    COP will collect personally identifiable information about you only as part of a voluntary
                    registration process, on-line survey or any combination thereof. The Site may contain links to other
                    websites. COP is not responsible for the privacy practices of such websites which it does not own,
                    manage or control. The Site and third-party vendors, including Google, use first-party cookies (such
                    as the Google Analytics cookie) and third-party cookies (such as the DoubleClick cookie) together to
                    inform, optimize, and serve ads based on someone's past visits to the Site.
                </p>
                <h2>How is the information used?</h2>
                <p>
                    We use your personal information to operate, provide, develop, and improve the products and services
                    that we offer our customers. These purposes include:
                    <li><b>Purchase and delivery of products and services:</b> We use your personal information to take
                        and fulfil orders, deliver products and services, process payments, and communicate with you
                        about orders, products and services, and promotional offers;</li>
                    <li><b>Provide, troubleshoot, and improve 112cart.com’s services:</b> We use your personal
                        information to provide functionality, analyse performance, fix errors, and improve the usability
                        and effectiveness of our services;</li>
                    <li><b>Recommendations and personalization:</b> We use your personal information to recommend
                        features, products, and services that might be of interest to you, identify your preferences,
                        and personalize your experience with 112cart.com’s services;</li>
                    <li><b>Comply with legal obligations:</b> In certain cases, we collect and use your personal
                        information to comply with laws. For instance, we collect from sellers information regarding
                        place of establishment and bank account information for identity verification and other
                        purposes;</li>
                    <li><b>Communicate with you:</b> We use your personal information to communicate with you in
                        relation to 112cart.com’s services via different channels (e.g., by phone, e-mail, chat).</li>
                    <li><b>Advertising:</b> We may use your personal information to display interest-based ads for
                        features, products, and services that might be of interest to you. However, we do not use
                        information that personally identifies you to display interest-based ads. COP may also use
                        information to serve various promotional and advertising materials to you via display
                        advertisements through the Google Ad network on third party websites;</li>
                    <li><b>Fraud Prevention and Credit Risks:</b> We use personal information to prevent and detect
                        fraud and abuse in order to protect the security of our customers, COP and others. We may also
                        use scoring methods to assess and manage credit risks.</li>
                </p>
                <h2>With whom will your information be shared?</h2>
                <p>
                    Information about our customers is an important part of our business and we are not in the business
                    of selling our customers’ personal information to others. We share customers’ personal information
                    only as described below and with COP and subsidiaries that COP controls that either are subject to
                    this Privacy Policy or follow practices at least as protective as those described in this Privacy
                    Policy.
                    <li><b>Transactions involving Third Parties:</b> We make available to you services, products,
                        applications, or skills provided by third parties for use on or through 112cart.com. For
                        example, the products you order through our marketplace are from third parties. We also offer
                        services or sell product lines jointly with third-party businesses, such as sellers on the
                        marketplace, merchants providing services, etc. You can tell when a third party is involved in
                        your transactions, and we share customers’ personal information related to those transactions
                        with that third party.</li>
                    <li><b>Third-Party Service Providers:</b> We may employ other organizations and individuals to
                        perform functions on our behalf. Examples include fulfilling orders for products or services,
                        delivering packages, sending postal mail and e-mail, removing repetitive information from
                        customer lists, analysing data, providing marketing assistance, providing search results and
                        links (including paid listings and links), processing payments, transmitting content, scoring,
                        assessing and managing credit risk, and providing customer service. These third-party service
                        providers have access to personal information needed to perform their functions, but may not use
                        it for other purposes. Further, they must process the personal information in accordance with
                        applicable law.
                    </li>
                    <li><b>Business Transfers:</b> As we continue to develop our business, we might sell or buy other
                        businesses or services. In such transactions, customer information generally is one of the
                        transferred business assets but remains subject to the promises made in any pre-existing Privacy
                        Policy (unless, of course, the customer consents otherwise). Also, in the unlikely event that
                        COP or any of its affiliates, or substantially all of their assets are acquired, customer
                        information will of course be one of the transferred assets.</li>
                    <li><b>Protection of COP and Others:</b> We release account and other personal information when we
                        believe release is appropriate to comply with the law; enforce or apply our Conditions of Use
                        and other agreements; or protect the rights, property, or safety of 112cart.com, COP, our users,
                        or others. This includes exchanging information with other companies and organizations for fraud
                        protection and credit risk reduction.</li>
                    <br>
                    Other than as set out above, you will receive notice when personal information about you might be
                    shared with third parties, and you will have an opportunity to choose not to share the information.
                </p>
                <h2>What abut advertising?</h2>
                <p>
                    COP Services may include third-party advertising and links to other websites and apps. Third-party
                    advertising partners may collect information about you when you interact with their content,
                    advertising, and services. We may also provide ad companies with information that allows them to
                    serve you with more useful and relevant COP ads and to measure their effectiveness. We never share
                    your name or other information that directly identifies you when we do this. Instead, we use an
                    advertising identifier like a cookie or other device identifier. For example, if you have already
                    downloaded one of our apps, we may share your advertising identifier and data about that event so
                    that you will not be served an ad to download the app again. Some ad companies also use this
                    information to serve you relevant ads from other advertisers.
                </p>
                <h2>What choices are available to you regarding the collection, use and distribution of your
                    information?</h2>
                <p>
                    To protect against the loss, misuse and alteration of the information under its control, COP has in
                    place appropriate physical, electronic and managerial procedures. For example, COP servers/ database
                    are accessible only to authorized personnel and your information is shared with employees and
                    authorised personnel on a ‘need-to-know’ basis to complete the transaction and to provide the
                    services requested by you. We work to protect the security of your personal information during
                    transmission by using encryption protocols and software. We also follow the Payment Card Industry
                    Data Security Standard (PCI DSS) when handling payment card data.<br>
                    Although COP will endeavour to safeguard the confidentiality of your personally identifiable
                    information, transmissions made by means of the Internet cannot be made absolutely secure. By using
                    this site, you agree that COP will have no liability for disclosure of your information due to
                    errors in transmission or unauthorized acts of third parties.
                    Information about our customers is an important part of our business and we are not in the business
                    of selling your personal information to others. We may share your personal information with third
                    parties, but this is only in order to provide you with services or comply with applicable laws.<br>
                    It is also important for you to protect against unauthorized access to your password and to your
                    computers, devices, and applications. Make sure to sign out when you finish using a shared
                    computer.<br>
                    You can always choose not to provide certain information, but then you might not be able to take
                    advantage of many of the COP Services. The Help feature on most browsers and devices will tell you
                    how to prevent your browser or device from accepting new cookies or other identifiers, how to have
                    the browser notify you when you receive a new cookie or how to block cookies altogether. Because
                    cookies and identifiers allow you to take advantage of some essential features of COP Services, we
                    recommend that you leave them turned on. For instance, if you block or otherwise reject our cookies,
                    you will not be able to add items to your Shopping Cart, proceed to Checkout, or use any COP
                    Services that require you to Sign in. For more information about cookies and other identifiers,
                    refer our Cookies Notice.
                </p>
                <h2>Conditions of Use, Notices and Revisions</h2>
                <p>
                    If you choose to use COP Services, your use and any dispute over privacy is subject to this Privacy
                    Policy and our Conditions of Use, including limitations on damages, resolution of disputes, and
                    application of the prevailing law in India. If you have any concern about privacy at COP, please
                    contact us with a thorough description and we will try to resolve it. Our business changes
                    constantly and our Privacy Policy will change also. You should check our websites frequently to see
                    recent changes.<br>
                    Unless stated otherwise, our current Privacy Policy applies to all information that we have about
                    you and your account. We stand behind the promises we make, however, and will never materially
                    change our policies and practices to make them less protective of customer information collected in
                    the past without the consent of affected customers.
                </p>
                <h2>Data Retention</h2>
                <p>
                    We retain your personal information in accordance with appliable laws, for a period no longer than
                    is required for the purpose for which it was collected or as required under any applicable law.
                    However, we may retain data related to you if we believe it may be necessary to prevent fraud or
                    future abuse or if required by law or for other legitimate purposes. We may continue to retain your
                    data in anonymised form for analytical and research purposes.<br>
                    By visiting the Site or by providing your information, you consent to the collection, use, storage,
                    disclosure and otherwise processing of your information (including sensitive personal information)
                    on the Site in accordance with this Privacy Policy. If you disclose to us any personal information
                    relating to other people, you represent that you have the authority to do so and to permit us to use
                    the information in accordance with this Privacy Policy.<br>
                    You, while providing your personal information over the Site, 112cart.com Software or any partner
                    platforms or establishments, consent to us (including our other corporate entities, affiliates,
                    lending partners, technology partners, marketing channels, business partners and other third
                    parties) to contact you through SMS, instant messaging apps, call and/or e-mail for the purposes
                    specified in this Privacy Policy.
                </p>
                <h2>How can you correct inaccuracies in the information?</h2>
                <p>
                    To correct or update any information you have provided, the Site allows you to do it online. In the
                    event of loss of access details, you can send an email to: customerservice@112cart.com
                </p>
                <h2>Policy updates</h2>
                <p>
                    COP reserves the right to change or update this policy at any time. Such changes shall be effective
                    immediately upon posting to the Site.
                </p>
            </div>

        </main>


    </div>
    <div id="modal" class="modal" data-reveal data-prevent-quick-search-close>
        <a href="#" class="modal-close" aria-label="Close" role="button">
            <span aria-hidden="true">&#215;</span>
        </a>
        <div class="modal-content"></div>
        <div class="loadingOverlay"></div>
    </div>
    <div id="alert-modal" class="modal modal--alert modal--small" data-reveal data-prevent-quick-search-close>
        <div class="swal2-icon swal2-error swal2-icon-show"><span class="swal2-x-mark"><span
                    class="swal2-x-mark-line-left"></span><span class="swal2-x-mark-line-right"></span></span></div>

        <div class="modal-content"></div>

        <div class="button-container"><button type="button" class="confirm button" data-reveal-close>OK</button></div>
    </div>
</div>

<%- include("partials/newFooter.ejs") %>