<%- include("partials/newHeader.ejs") %>

<div data-content-region="header_bottom"></div>
<div class="body" data-currency-code="INR">

    <div class="home-content">

        <div class="tt-breadcrumbs-main">
            <div class="tt-breadcrumbs">
                <div class="container">
                    <h1 class="category-name">
                        <span class="breadcrumb-title ">
                        </span>
                        <span class="breadcrumb-title is-active">
                            <span class="breadcrumb-label">Terms &amp; Conditions</span>
                        </span>
                    </h1>
                    <ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li class="breadcrumb " itemprop="itemListElement" itemscope
                            itemtype="http://schema.org/ListItem">
                            <a href="/" class="breadcrumb-label" itemprop="item"><span itemprop="name">Home</span></a>
                            <meta itemprop="position" content="1" />
                        </li>
                        <li class="breadcrumb is-active" itemprop="itemListElement" itemscope
                            itemtype="http://schema.org/ListItem">
                            <meta itemprop="item" content="/terms-conditions/">
                            <span class="breadcrumb-label" itemprop="name">Terms &amp; Conditions</span>
                            <meta itemprop="position" content="2" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <main class="tt-page page-content--centered">
            <h1 class="page-heading">Terms &amp; Conditions</h1>


            <div data-content-region="page_builder_content"></div>

            <div class="page-content">
                <h1>Personal Information:</h1>
                <p>
                    College of Purity Pvt LTd is the licensed owner of the 112cart and the website, <a
                        href="/">www.112cart.com</a>
                    (”The Site 112cart respects your privacy. This Privacy Policy provides succinctly the manner your
                    data is collected and used by 112cart on the Site. As a visitor to the Site/ Customer you are
                    advised to please read the Privacy Policy carefully. By accessing the services provided by the Site
                    you agree to the collection and use of your data by 112cart in the manner provided in this Privacy
                    Policy.
                </p>
                <h1>Services Overview:</h1>
                <p>
                    As part of the registration process on the Site, 112cart may collect the following personally
                    identifiable information about you: Name including first and last name,alternate email address,
                    mobile phone number and contact details, Postal code, Demographic profile(like your age, gender,
                    occupation, education, address etc.) and information about the pages on the site you visit/access,
                    the links you click on the site, the number of times you access the page and any such browsing
                    information.
                </p>
                <h1>Eligibility:</h1>
                <p>
                    Services of the Site would be available to only select geographies in India. Persons who are
                    "incompetent to contract" within the meaning of the Indian Contract Act, 1872 including
                    un-discharged insolvents etc. are not eligible to use the Site. If you are a minor i.e. under the
                    age of18 years but at least 13 years of age you may use the Site only under the supervision of a
                    parent or legal guardian who agrees to be bound by these Terms of Use. If your age is below 18 years
                    your parents or legal guardians can transact on behalf of you if they are registered users. You are
                    prohibited from purchasing any material which is for adult consumption and the sale of which to
                    minors is prohibited.
                </p>
                <h1>License & Site Access:</h1>
                <p>
                    112cart grants you a limited sub-license to access and make personal use of this site and not to
                    download (other than page caching) or modify it, or any portion of it, except with express written
                    consent of 112cart. This license does not include any resale or commercial use of this site or its
                    contents; any collection and use of any product listings, descriptions, or prices; any derivative
                    use of this site or its contents; any downloading or copying of account information for the benefit
                    of another merchant; or any use of data mining, robots,or similar data gathering and extraction
                    tools. This site or any portion of this site may not be reproduced, duplicated, copied, sold,
                    resold, visited, or otherwise exploited for any commercial purpose without express written consent
                    of 112cart. You may not frame or utilize framing techniques to enclose any trademark, logo, or other
                    proprietary information (including images,text, page layout, or form) of the Site or of 112cart and
                    its affiliates without express written consent. You may not use any Meta-tags or any other "hidden
                    text" utilizing the Site’s or 112cart’s name or 112cart’s name or trademarks without the express
                    written consent of 112cart. Any unauthorized use terminates the permission or license granted by
                    112cart.
                </p>
                <h1>Account & Registration Obligations: </h1>
                <p>
                    All shoppers have to register and login for placing orders on the Site. You have to keep your
                    account and registration details current and correct for communications related to your purchases
                    from the site. By agreeing to the terms and conditions, the shopper agrees to receive promotional
                    communication and newsletters upon registration. The customer can opt out either by unsubscribing in
                    "My Account" or by contacting the customer service.
                </p>
                <h1>Pricing:</h1>
                <p>All the products listed on the Site will be sold at MRP unless otherwise specified. The prices
                    mentioned at the time of ordering will be the prices charged on the date of the delivery.
                </p>
                <h1>Return & Refunds: </h1>
                <p>
                    No refunds are possible once a payment has been made. If due to some reason the customer is not
                    satisfied with the quality of the product - we will issue a credit note/coupon for the value of the
                    return products which will be credited to your account on the Site. This can be used to pay your
                    subsequent shopping bills. You Agree and Confirm that in the event that a non-delivery occurs on
                    account of a mistake by you (i.e. wrong name or address or any other wrong information) any extra
                    cost incurred by 112cart for re-delivery shall be claimed from you. That you will use the services
                    provided by the Site, its affiliates, consultants and contracted companies, for lawful purposes only
                    and comply with all applicable laws and regulations while using and transacting on the Site. You
                    will provide authentic and true information in all instances where such information is requested of
                    you. 112cart reserves the right to confirm and validate the information and other details provided
                    by you at any point in time. If upon confirmation your details are found not to be true(wholly or
                    partly), it has the right in its sole discretion to reject the registration and debar you from using
                    the Services and / or other affiliated websites without prior intimation whatsoever. That you are
                    accessing the services available on this Site and transacting at your sole risk and are using your
                    best and prudent judgment before entering into any transaction through this Site.That the address at
                    which delivery of the product ordered by you is to be made will be correct and proper in all
                    respects.That before placing an order you will check the product description carefully. By placing
                    an order for a product you agree to be bound by the conditions of sale included in the item's
                    description.<br><br>
                    You may not use the Site for any of the following purposes: Disseminating any unlawful, harassing,
                    libelous, abusive, threatening, harmful, vulgar, obscene, or otherwise objectionable material.
                    Transmitting material that encourages conduct that constitutes a criminal offence or results in
                    civil liability or otherwise breaches any relevant laws, regulations or code of practice, Gaining
                    unauthorized access to other computer systems, Interfering with any other person's use or enjoyment
                    of the Site.Breaching any applicable laws;Interfering or disrupting networks or web sites connected
                    to the Site.Making, transmitting or storing electronic copies of materials protected by copyright
                    without the Permission of the owner.
                </p>
                <h1>Modification of Terms & Conditions of Service:</h1>
                <p>
                    112cart may at any time modify the Terms & Conditions of Use of the Website without any prior
                    notification to you. You can access the latest version of these Terms & Conditions at any given time
                    on the Site. You should regularly review the Terms & Conditions on the Site. In the event the
                    modified Terms & Conditions is not acceptable to you, you should discontinue using the Service.
                    However, if you continue to use the Service you shall be deemed to have agreed to accept and abide
                    by the modified Terms & Conditions of Use of this Site.
                </p>
                <h1>Governing Law and Jurisdiction:</h1>
                <p>
                    This User Agreement shall be construed in accordance with the applicable laws of India. The Courts
                    at Bangalore shall have exclusive jurisdiction in any proceedings arising out of this agreement. Any
                    dispute or difference either in interpretation or otherwise, of any terms of this User Agreement
                    between the parties hereto, the same shall be referred to an independent arbitrator who will be
                    appointed by 112cart and his decision shall be final and binding on the parties hereto. The above
                    arbitration shall be in accordance with the Arbitration and Conciliation Act, 1996 as amended from
                    time to time. The arbitration shall be held in Bangalore. The High Court of judicature at Kolkata
                    alone shall have the jurisdiction and the Laws of India shall apply.
                </p>
                <h1>Reviews, Feedback, Submissions:</h1>
                <p>
                    All reviews, comments, feedback, postcards, suggestions, ideas, and other submissions
                    disclosed,submitted or offered to the Site on or by this Site or otherwise disclosed, submitted or
                    offered in connection with your use of this Site (collectively, the "Comments") shall be and remain
                    the property of 112cart. Such disclosure, submission or offer of any Comments shall constitute an
                    assignment to 112cart of all worldwide rights, titles and interests in all copyrights and other
                    intellectual properties in the Comments. Thus, 112cart owns exclusively all such rights, titles and
                    interests and shall not be limited in any way in its use,commercial or otherwise, of any Comments.
                    112cart will be entitled to use,reproduce, disclose, modify, adapt, create derivative works from,
                    publish, display and distribute any Comments you submit for any purpose whatsoever, without
                    restriction and without compensating you in any way.<br><br>
                    112cart is and shall be under no obligation (1) to maintain any Comments in confidence; (2) to pay
                    you any compensation for any Comments; or (3) to respond to any Comments. You agree that any
                    Comments submitted by you to the Site will not violate this policy or any right of any third party,
                    including copyright, trademark, privacy or other personal or proprietary right(s), and will not
                    cause injury to any person or entity. You further agree that no Comments submitted by you to the
                    Website will be or contain libelous or otherwise unlawful, threatening, abusive or obscene material,
                    or contain software viruses, political campaigning, commercial solicitation, chain letters, mass
                    mailings or any form of "spam". 112cart does not regularly review posted Comments, but does reserve
                    the right (but not the obligation) to monitor and edit or remove any Comments submitted to the Site.
                    You grant 112cart the right to use the name that you submit in connection with any Comments. You
                    agree not to use a false email address,impersonate any person or entity, or otherwise mislead as to
                    the origin of any Comments you submit.You are and shall remain solely responsible for the content of
                    any Comments you make and you agree to indemnify 112cart and its affiliates for all claims resulting
                    from any Comments you submit. 112cart and its affiliates take no responsibility and assume no
                    liability for any Comments submitted by you or any third party.
                </p>
                <h1>Copyright & Trademark:</h1>
                <p>
                    112cart, its suppliers and licensors expressly reserve all intellectual property rights in all text,
                    programs, products, processes, technology,content and other materials, which appear on this Site.
                    Access to this Website does not confer and shall not be considered as conferring upon anyone any
                    license under any of 112cart or any third party's intellectual property rights. All rights,
                    including copyright, in this website are owned by or licensed to 112cart Specialty. Any use of this
                    website or its contents, including copying or storing it or them in whole or part, other than for
                    your own personal,non-commercial use is prohibited without the permission of 112cart. You may not
                    modify, distribute or re-post anything on this website for any purpose. The names and logos and all
                    related product and service names, design marks and slogans are the trademarks or service marks of
                    112cart, its affiliates, its partners or its suppliers. All other marks are the property of their
                    respective companies. No trademark or service mark license is granted in connection with the
                    materials contained on this Site. Access to this Site does not authorize anyone to use any name,
                    logo or mark in any manner. References on this Site to any names, marks, products or services of
                    third parties or hypertext links to third party sites or information are provided solely as a
                    convenience to you and do not in any way constitute or imply 112cart endorsement, sponsorship or
                    recommendation of the third party, information, product or service.<br><br>
                    112cart is not responsible for the content of any third party sites and does not make any
                    representations regarding the content or accuracy of material on such sites. If you decide to link
                    to any such third party websites, you do so entirely at your own risk. All materials, including
                    images, text, illustrations, designs, icons,photographs, programs, music clips or downloads, video
                    clips and written and other materials that are part of this Website (collectively, the "Contents")
                    are intended solely for personal, non-commercial use. You may download or copy the Contents and
                    other downloadable materials displayed on the Website for your personal use only. No right, title or
                    interest in any downloaded materials or software is transferred to you as a result of any such
                    downloading or copying. You may not reproduce (except as noted above), publish, transmit,
                    distribute, display, modify, create derivative works from, sell or participate in any sale of or
                    exploit in any way, in whole or in part, any of the Contents, the Website or any related software.
                    All software used on this Website is the property of 112cart or its licensees and suppliers and
                    protected by Indian and international copyright laws. The Contents and software on this Website may
                    be used only as a shopping resource. Any other use, including the reproduction,modification,
                    distribution, transmission, republication, display, or performance, of the Contents on this Website
                    is strictly prohibited. Unless otherwise noted, all Contents are copyrights, trademarks, trade dress
                    and/or other intellectual property owned, controlled or licensed by 112cart,one of its affiliates or
                    by third parties who have licensed their materials to 112cart and are protected by Indian and
                    International Copyright Laws. The compilation (meaning the collection,arrangement, and assembly) of
                    all Contents on this Website is the exclusive property of 112cart and is also protected by Indian
                    and international copyright laws.
                </p>
                <h1>objectionable Material:</h1>
                <p>
                    You understand that by using this Site or any services provided on the Site,you may encounter
                    Content that may be deemed by some to be offensive, indecent, or objectionable,which Content may or
                    may not be identified as such. You agree to use the Site and any service at your sole risk and that
                    to the fullest extent permitted under applicable law, 112cart and its affiliates shall have no
                    liability to you for Content that may be deemed offensive, indecent, or objectionable to you.
                </p>
                <h1>Indemnity:</h1>
                <p>You agree to defend, indemnify and hold harmless 112cart,its employees, directors, officers, agents
                    and their successors and assigns from and against any and all claims, liabilities, damages,losses,
                    costs and expenses, including attorney's fees, caused by or arising out of claims based upon your
                    actions or in actions, which may result in any loss or liability to 112cart or any third party
                    including but not limited to breach of any warranties, representations or undertakings or in
                    relation to the non-fulfillment of any of your obligations under this User Agreement or arising out
                    of the your violation of any applicable laws,regulations including but not limited to Intellectual
                    Property Rights, payment of statutory dues and taxes, claim of libel, defamation, violation of
                    rights of privacy or publicity, loss of service by other subscribers and infringement of
                    intellectual property or other rights. This clause shall survive the expiry or termination of this
                    User Agreement.
                </p>
                <h1>Termination:</h1>
                <p>
                    This User Agreement is effective unless and until terminated by either you or 112cart. You may
                    terminate this User Agreement at any time, provided that you discontinue any further use of this
                    Site. 112cart may terminate this User Agreement at any time and may do so immediately without
                    notice, and accordingly deny you access to the Site, Such termination will be without any liability
                    to 112cart. Upon any termination of the User Agreement by either you or 112cart, you must promptly
                    destroy all materials downloaded or otherwise obtained from this Site, as well as all copies of such
                    materials, whether made under the User Agreement or otherwise. 112cart’s right to any Comments shall
                    survive any termination of this User Agreement. Any such termination of the User Agreement shall not
                    cancel your obligation to pay for the product already ordered from the Website or affect any
                    liability that may have arisen under the User Agreement.
                </p>
                <h1>Personal Information: </h1>
                <p>
                    College of Purity Pvt Ltd is the licensed owner of the brand 112cart and the website
                    www.112cart.com. 112cart respects your privacy. This Privacy Policy provides succinctly the manner
                    your data is collected and used by 112cart on the Site. As a visitor to the Site/Customer you are
                    advised to please read the Privacy Policy carefully. By accessing the services provided by the Site
                    you agree to the collection and use of your data by 112cart in the manner provided in this Privacy
                    Policy.
                </p>
                <h1>What information is, or may be, collected from you?</h1>
                <p>
                    As part of the registration process on the Site, 112cart may collect the following personally
                    identifiable information about you: Name including first and last name, alternate email address,
                    mobile phone number and contact details, Postal code, Demographic profile (like your age, gender,
                    occupation, education, address etc.) and information about the pages on the site you visit/access,
                    the links you click
                </p>
                <h1>How do we collect the information?</h1>
                <p>112cart will collect personally identifiable information about you only as part of a voluntary
                    registration process, on-line survey or any combination thereof. The Site may contain links to other
                    websites. 112cart is not responsible for the privacy practices of such websites which it does not
                    own, manage or control. The Site and third-party vendors, including Google, use first-party cookies
                    (such as the Google Analytics cookie) and third-party cookies (such as the Double-Click cookie)
                    together to inform, optimize, and serve ads based on someone's past visits to the Site.
                </p>
                <h1>How is information used?</h1>
                <p>
                    112cart will use your personal information to provide personalized features to you on the Site and
                    to provide for promotional offers to you through the Site and other channels. 112cart will also
                    provide this information to its business associates and partners to get in touch with you when
                    necessary to provide the services requested by you. 112cart will use this information to preserve
                    transaction history as governed by existing law or policy. 112cart may also use contact information
                    internally to direct its efforts for product improvement, to contact you as a survey respondent, to
                    notify you if you win any contest; and to send you promotional materials from its contest sponsors
                    or advertisers.<br><br>
                    112cart will also use this information to serve various promotional and advertising materials to you
                    via display advertisements through the Google Ad network on third party websites.You can opt out of
                    Google Analytics for Display Advertising and customize Google Display network ads using the Ads
                    Preferences Manager. Information about Customers on an aggregate (excluding any information that may
                    identify you specifically) covering Customer transaction data and Customer demographic and location
                    data may be provided to partners of 112cart for the purpose of creating additional features on the
                    website, creating appropriate merchandising or creating new products and services and conducting
                    marketing research and statistical analysis of customer behavior and transactions.
                </p>
                <h1>Whom your information will be shared with?</h1>
                <p>
                    112cart will not use your financial information for any purpose other than to complete a transaction
                    with you. 112cart does not rent, sell or share your personal information and will not disclose any
                    of your personally identifiable information to third parties. In cases where it has your permission
                    to provide products or services you've requested and such information is necessary to provide these
                    products or services the information may be shared with 112cart’s business associates and partners.
                    112cart may, however, share consumer information on an aggregate with its partners or third parties
                    where it deems necessary. In addition 112cart may use this information for promotional offers, to
                    help investigate, prevent or take action regarding unlawful and illegal activities, suspected fraud,
                    potential threat to the safety or security of any person, violations of the Site’s terms of use or
                    to defend against legal claims; special circumstances such as compliance with subpoenas, court
                    orders, requests/order from legal authorities or law enforcement agencies requiring such disclosure.
                </p>
                <h1>What choice is available to you regarding collection, use and distribution of your Information?</h1>
                <p>
                    To protect against the loss, misuse and alteration of the information under its control, 112cart has
                    in place appropriate physical, electronic and managerial procedures.For example, 112cart servers are
                    accessible only to authorized personnel and your information is shared with employees and authorized
                    personnel on a need to know basis to complete the transaction and to provide the services requested
                    by you. Although 112cart will endeavour to safeguard the confidentiality of your personally
                    identifiable information, transmissions made by means of the Internet cannot be made absolutely
                    secure. By using this site, you agree that 112cart will have no liability for disclosure of your
                    information due to errors in transmission or unauthorized acts of third parties.
                </p>
                <h1>How can you correct inaccuracies in the information?</h1>
                <p>
                    To correct or update any information you have provided, the Site allows you to do it online. In the
                    event of loss of access details you can send an e-mail to: <a
                        href="mailto:support@112cart.com">support@112cart.com</a>
                </p>
                <h2>Policy Updates:</h2>
                <p>
                    112cart reserves the right to change or update this policy at any time. Such changes shall be
                    effective immediately upon posting to the Site.
                </p>
                <h2>Contact Information:</h2>
                <p>
                    COLLEGE OF PURITY PRIVATE LIMITED<br>
                    407, COLLEGE OF PURITY PRIVATE LIMITED, PANCHVATI APARTMENTS,<br>
                    KANKE ROAD, RANCHI, Ranchi, Jharkhand,<br>
                    834001<br>
                    Email ID: <a href="mailto:support@112cart.com">support@112cart.com</a><br>
                    Terms and Conditions Apply

                </p>
            </div>

        </main>


    </div>
    <div id="modal" class="modal" data-reveal data-prevent-quick-search-close>
        <a href="#" class="modal-close" aria-label="Close" role="button">
            <span aria-hidden="true">&#215;</span>
        </a>
        <div class="modal-content"></div>
        <div class="loadingOverlay"></div>
    </div>
    <div id="alert-modal" class="modal modal--alert modal--small" data-reveal data-prevent-quick-search-close>
        <div class="swal2-icon swal2-error swal2-icon-show"><span class="swal2-x-mark"><span
                    class="swal2-x-mark-line-left"></span><span class="swal2-x-mark-line-right"></span></span></div>

        <div class="modal-content"></div>

        <div class="button-container"><button type="button" class="confirm button" data-reveal-close>OK</button></div>
    </div>
</div>

<%- include("partials/newFooter.ejs") %>