module.exports = {
    'googleAuth':{
        'clientID':'',
        'clientSecret': '',
        'callbackURL':''
    },
    'facebookAuth': {
        'clientID': '',
        'clientSecret': '',
        'callbackURL': ''
    }
};